/*
*
* ------------------------------------------------------
* Zuni CSS 
* ------------------------------------------------------
*
* author:  Estefanio NS <estefanions AT gmail DOT com> 
* project: https://github.com/zunicss/zunicss
* page:    http://zunicss.github.io
* reset:   https://github.com/estefanions/resetcss
*/

*{
text-align: left;font-weight: normal;font-size: 100%;
vertical-align: baseline;list-style: none;text-decoration: none;
outline:0;margin:0;padding:0;border:0 none;font-style: normal;
border-spacing: 0;border-collapse: collapse;vertical-align: top;
quotes: none; content: '';content: none;background:transparent;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;

}

figcaption,figure,footer,article,aside,details,
menu,nav,section,header,hgroup,hr{ display: block}
hr{
height:1px;
border-top:1px solid;
margin:1em 0
}

input,select,textarea { vertical-align: middle}
button, input {
*overflow: visible;
line-height: normal
}

button, html input[type="button"],
html input[type="reset"], html input[type="submit"]
{ 
cursor: pointer; 
-webkit-appearance: button
}

select,button,input[type="button"],input[type="reset"],
input[type="submit"],input[type="radio"],
input[type="checkbox"] { cursor: pointer}
input[type="search"] { 
-webkit-box-sizing: content-box; 
-moz-box-sizing: content-box;
box-sizing: content-box; 
-webkit-appearance: textfield
}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
-webkit-appearance: none
} 
textarea {overflow: auto; vertical-align: top}
fieldset { 
border: 1px solid; margin: 0 2px; 
padding: 0.35em 0.625em 0.75em 
}


body{ 
color: #333; 
background-color:#fff; 
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size: 1em
}


h1{font-size: 2.5em}
h2{font-size: 2em}
h3{font-size: 1.5em}
h1, h2, h3{margin-bottom: 15px}


fieldset{
  border: 1px solid #ccc;
}

legend{
    padding: 0 5px
}

.page_header{
    width: 100%;
    float: left;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #999;
    clear: both
}

.fold{
    width: 100%;
    float: left;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-bottom: 25px
}

.page_header .tagline{
    color: #999
}

.show, .block{display: block }
.hide, .none{display: none}
.is_desktop_block, .is_desktop_show{ display: block }
.is_desktop_none,  .is_desktop_hide{ display: none}

.tx_center{text-align: center !important}
.tx_left  {text-align: left !important}
.tx_right {text-align: right !important}
.tx_justifiy{text-align: justify !important}

.tx_lowercase{text-transform: lowercase !important}
.tx_uppercase{text-transform: uppercase !important}
.tx_capitalize{text-transform: capitalize !important}

.fn_mir{font-size: 0.625em }
.fn_small{font-size: 0.75em }
.fn_medium{font-size: 1em}
.fn_large{ font-size: 1.25em}
.fn_xlarge{font-size: 2.25em}

.bold{ font-weight: bold}
.italic{font-style: italic}
.underline{text-decoration: underline}

.tx_primary{ color: #06c}
.tx_secondary{color:#a00}
.tx_dark{color: #222}
.tx_light{color: #f6f6f6}
.tx_standard{color: #ccc}

.bd_primary{ border: 1px solid  #06c }
.bd_secondary{border: 1px solid #a00}
.bd_dark{border: 1px solid  #222}
.bd_light{border: 1px solid  #f6f6f6}
.bd_standard{border: 1px solid  #ccc}

.bd_top_primary{ border-top: 1px solid  #06c }
.bd_top_secondary{border-top: 1px solid #a00}
.bd_top_dark{border-top: 1px solid  #222}
.bd_top_light{border-top: 1px solid  #f6f6f6}
.bd_top_standard{border-top: 1px solid  #ccc}

.bd_right_primary{ border-right: 1px solid  #06c }
.bd_right_secondary{border-right: 1px solid #a00}
.bd_right_dark{border-right: 1px solid  #222}
.bd_right_light{border-right: 1px solid  #f6f6f6}
.bd_right_standard{border-right: 1px solid  #ccc}

.bd_bottom_primary{ border-bottom: 1px solid  #06c }
.bd_bottom_secondary{border-bottom: 1px solid #a00}
.bd_bottom_dark{border-bottom: 1px solid  #222}
.bd_bottom_light{border-bottom: 1px solid  #f6f6f6}
.bd_bottom_standard{border-bottom: 1px solid  #ccc}

.bd_left_primary{ border-left: 1px solid  #06c }
.bd_left_secondary{border-left: 1px solid #a00}
.bd_left_dark{border-left: 1px solid  #222}
.bd_left_light{border-left: 1px solid  #f6f6f6}
.bd_left_standard{border-left: 1px solid  #ccc}


.bd_radius{    
-webkit-border-radius: 500%;
-moz-border-radius: 500%;
border-radius: 500%;
}

.bd_rounded{    
-webkit-border-radius:6px;    
-moz-border-radius:6px;    
border-radius:6px
}


.bd_polaroid{    
background-color:#FFF;    
border:1px solid rgba(0,0,0,0.2);    
box-shadow:0 1px 3px rgba(0,0,0,0.1);    
padding:4px
}

.bd_polaroid_rounded{    
background-color:#FFF;    
border:1px solid rgba(0,0,0,0.2);    
box-shadow:0 1px 3px rgba(0,0,0,0.1);    
padding:4px
}

.bd_polaroid_radius{    
background-color:#FFF;    
border:1px solid rgba(0,0,0,0.2);    
box-shadow:0 1px 3px rgba(0,0,0,0.1);    
padding:4px;    
-webkit-border-radius:500%;    
-moz-border-radius:500%;    
border-radius:500%
}






.lk_primary{ color: #06c}
.lk_secondary{color:#a00}
.lk_dark{color: #222}
.lk_light{color: #f6f6f6}
.lk_primary:hover{ color: #06a}
.lk_secondary:hover{color:#c00}
.lk_dark:hover{color: #666}
.lk_light:hover{color: #d6d6d6}



input, select, textarea{
color: #333;
background: #fff;
height: 45px;
border: 1px solid #ccc;
padding: 8px 3px
}


.bt, input.bt, button.bt{
width: auto;
min-height: 45px;
display: inline-block;
text-align: center;
vertical-align: middle;
cursor: pointer

}

.bt{ padding: 10px 15px 0 15px }

div.bt, span.bt, a.bt
{ 
    padding-top: 14px;
    padding-left: 17px;
    padding-right: 17px
}

input.bt, button.bt{ padding: 7px 15px }

.bt_primary,
.bt_secondary,
.bt_dark,
.bt_light{ color: #fff }


.bt_standard{
color: #222;
background: #ccc
}


.bt_standard:hover{
background: #d6d6d6
}

.bt_primary{background: #06a}
.bt_secondary{ background: #a00}
.bt_dark{background: #222}
.bt_light{color: #333; background: #f6f6f6}

.bt_primary:hover{background: #03a}
.bt_secondary:hover{ background: #c00}
.bt_dark:hover{background: #000}
.bt_light:hover{color: #333; background: #d6d6d6}

.bt_standard.tx_primary{ color: #06c }
.bt_standard.tx_secondary{ color: #a00 }
.bt_standard.tx_dark{ color: #000 }
.bt_standard.tx_light{ color: #f6f6f6 }

.bt_dark.tx_primary{ color: #06c }
.bt_dark.tx_secondary{ color: #a00 }

.bt_primary.tx_dark{ color: #000 }
.bt_primary.tx_secondary{ color: #a00 }
.bt_secondary.tx_dark{ color: #000 }
.bt_secondary.tx_primary{ color: #06c }

.bt_dark.bt_hove_primary:hover{background: #06a}
.bt_dark.bt_hove_secondary:hover {background: #a00}
.bt_dark.bt_hove_light:hover {color: #000; background: #f6f6f6}
.bt_dark.bt_hove_standard:hover {color: #000; background: #d6d6d6}


.w_auto{ width: auto !important }

.cr_pointer{cursor: pointer}
.cr_move{cursor: move}
.cr_help{cursor: help}
.cr_crosshair{cursor: crosshair}
.cr_wait{cursor: wait}
.cr_default{cursor: default}
.cr_not_allowed{cursor: not-allowed}
.cr_progress{cursor: progress}

.row { margin-left: -1.55%; margin-bottom: 0.775% }
.row:before, .row:after {display: table; content: ""}
.row:after {clear: both}


[class^='wg'] { 
text-align: left;
float: left; 
margin-left: 1.55%; 
min-height: 1.55%; 
line-height: 20px

}

.bg, .bg_standard{ color: #000; background: #ccc}
.bg_primary{color:#fff; background: #06a}
.bg_secondary{color:#fff; background: #a00}
.bg_dark{color:#f8f8f8; background: #222}
.bg_light{color: #333; background: #f6f6f6}

.wg1{width: 6.78%} 
.wg2{width: 15.11%}
.wg3{width: 23.44%}
.wg4{width: 31.77%}
.wg5{width: 40.1%}
.wg6{width: 48.43%}
.wg7{width: 56.76%}
.wg8{width: 65.09%}
.wg9{width: 73.42%}
.wg10{width: 81.75%}
.wg11{width: 90.08%}
.wg12, .container { width: 96% } 

.wg_mobile_static{ width: 890px }
.wg_tablet_static{ width: 719px }
.wg_phone_static{  width: 500px }

@media (max-width: 930px) { .wg_mobile_static  { width: 100%; float: left; clear: both } }
@media (max-width: 759px) { .wg_tablet_static  { width: 100%; float: left; clear: both } }
@media (max-width: 540px) { .wg_phone_estatic  { width: 100%; float: left; clear: both } }


.container .wg12{
width: 100%;
margin-left: 0; 
margin-bottom: 0.775%
}  

.row .wg12{
width: 98.45%;
margin-left: 1.55%;
margin-bottom: 0 
}

.container { margin-left: 2%; margin-right: 2% }
.container:before, .container:after { display: table; content: ""}
.container:after {clear: both}



img, object, embed, video, iframe, iframe[style]
{
max-width: 100%;
height: auto
}


.radiohd{
width: 100%;
height: 0;
position: relative;
padding-bottom: 56.25%;
float: left;
margin-bottom: 30px

}

.radio_element{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0
}


.aspect_ratio {
position: relative;
width: 100%;
height: 0;
padding-bottom: 51%;
}

.aspect_ratio iframe {
position: absolute;
width: 100%;
height: 100%;
left: 0; top: 0;
}


.alert{
 width: 100%;
 padding: 10px;
 margin: 10px 0;
 float: left;
 clear: both;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px


}

.alert_primary{ color: #06c; border: 1px solid #06c; background: #e8f0f6}
.alert_secondary{ color: #a00; border: 1px solid #a00; background: #f8eaea}
.alert_dark{ color: #222; border: 1px solid #222; background: #f6f6f6}
.alert_light{ color: #777; border: 1px solid #ccc; background: #f6f6f6}


.callout{
    width: 100%;
    float: left;
    padding: 20px;
    margin-bottom: 15px;
    clear: both;
}


.callout_primary,
.callout_secondary,
.callout_dark,
.callout_light{
    border-top: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    border-left: 8px solid #d6d6d6;
}

.callout_primary{ border-left-color: #06c }
.callout_secondary{ border-left-color: #a00 }
.callout_dark{ border-left-color: #222 }
.callout_light{ border-left-color: #d6d6d6 }

.callout_primary h1,
.callout_primary h2,
.callout_primary h3{
   color: #06c 
}


.callout_secondary h1,
.callout_secondary h2,
.callout_secondary h3{
   color: #a00 
}

.callout_dark h1,
.callout_dark h2,
.callout_dark h3{
   color: #222 
}



.callout_light h1,
.callout_light h2,
.callout_light h3{
   color: #888 
}

.scale_none{
max-width: none !important
}


@media only screen and (max-width: 890px) 
{

.is_mobile_block, .is_tablet_show{ display: block }
.is_mobile_none,  .is_tablet_hide{ display: none}

.row_mobile { width: 100%; float: left; margin-left: 0; margin-bottom: 0 }


.wg_mobile3   { width: 23.44% }
.wg_mobile4   { width: 31.77% }
.wg_mobile6   { width: 48.45% }
.wg_mobile8   { width: 65.09% }
.wg_mobile12  { width: 100%; float: left; clear: both }
.row_mobile .wg_mobile12  { width: 98.45%; float: left; clear: both }

.fill_mobile_inside{ padding: 1.55%  !important}
.fill_mobile_inside_top{ padding-top: 1.55%; !important}
.fill_mobile_inside_right{ padding-right: 1.55% !important }
.fill_mobile_inside_bottom{ padding-bottom: 1.55% !important}
.fill_mobile_inside_left{ padding-left: 1.55% !important }
.fill_mobile_inside_top_bottom{ padding-top: 1.55% !important; padding-bottom: 1.55%  !important}
.fill_mobile_inside_left_right{ padding-left: 1.55% !important; padding-right: 1.55%  !important}

.fill_mobile_outside{ margin: 1.55%  !important}
.fill_mobile_outside_top{    margin-top: 1.55% !important}
.fill_mobile_outside_right{ margin-right: 1.55%  !important}
.fill_mobile_outside_bottom{ margin-bottom: 1.55% !important}
.fill_mobile_outside_left{ margin-left: 1.55%;  !important}
.fill_mobile_outside_left_right{ margin-left: 1.55% !important; margin-right: 1.55%  !important}
.fill_mobile_outside_top_bottom{ margin-top: 1.55% !important; margin-bottom: 1.55%  !important}


.fill_mobile_outside_none{ margin: 0  !important}
.fill_mobile_outside_bottom_none{ margin-bottom: 0  !important}
.fill_mobile_outside_top_bottom_none{ margin-top: 0 !important; margin-bottom: 0  !important}
.fill_mobile_outside_left_none { margin-left: 0  !important} 
.fill_mobile_outside_right_none { margin-right: 0  !important}
.fill_mobile_outside_left_right_none { margin-left: 0 !important; margin-right: 0  !important}
.fill_mobile_outside_top_none{ margin-top: 0  !important}
.fill_mobile_outside_bottom_none{ margin-bottom: 0  !important}
.fill_mobile_outside_top_bottom_none{ margin-top: 0 !important; margin-bottom: 0  !important}
.fill_mobile_outside_left_none { margin-left: 0  !important} 
.fill_mobile_outside_right_none { margin-right: 0  !important}
.fill_mobile_outside_left_right_none { margin-left: 0 !important; margin-right: 0  !important}






}


@media only screen and (max-width: 719px) 
{

.is_tablet_block, .is_tablet_show{ display: block }
.is_tablet_none,  .is_tablet_hide{ display: none}

.wg_tablet3   { width: 23.44% }
.wg_tablet4   { width: 31.77% }
.wg_tablet6   { width: 48.45% }
.wg_tablet8   { width: 65.09% }
.wg_tablet12  { width: 100%; float: left; clear: both }
.row_mobile .wg_tablet12  { width: 98.45%; float: left; clear: both }


}



@media only screen and (max-width: 500px)
{

.is_phone_block, .is_phone_show{ display: block }
.is_phone_none,  .is_phone_hide{ display: none}



.wg_phone3   { width: 23.44% }
.wg_phone4   { width: 31.77% }
.wg_phone6   { width: 48.45% }
.wg_phone8   { width: 65.09% }
.wg_phone12  { width: 100%; float: left; clear: both }
.row_mobile .wg_phone12  { width: 98.45%; float: left; clear: both }

}


@media (min-width: 1221px) 
{

.container, .wg12{ width: 1196px}
.container
{
margin-left: auto; 
margin-right: auto;
}

}


.pull_center{
float: none !important; 
margin-left: auto !important; 
margin-right: auto !important;
clear: both !important
}

.pull_left{ float: left !important}
.pull_right{ float: right !important}
.pull_none{ float: none !important}

.fill_inside{ padding: 1.55%  !important}
.fill_inside_top{ padding-top: 1.55%; !important}
.fill_inside_right{ padding-right: 1.55% !important }
.fill_inside_bottom{ padding-bottom: 1.55% !important}
.fill_inside_left{ padding-left: 1.55% !important }
.fill_inside_top_bottom{ padding-top: 1.55% !important; padding-bottom: 1.55%  !important}
.fill_inside_left_right{ padding-left: 1.55% !important; padding-right: 1.55%  !important}

.fill_outside{ margin: 1.55%  !important}
.fill_outside_top{    margin-top: 1.55% !important}
.fill_outside_right{ margin-right: 1.55%  !important}
.fill_outside_bottom{ margin-bottom: 1.55% !important}
.fill_outside_left{ margin-left: 1.55%;  !important}
.fill_outside_left_right{ margin-left: 1.55% !important; margin-right: 1.55%  !important}
.fill_outside_top_bottom{ margin-top: 1.55% !important; margin-bottom: 1.55%  !important}


.fill_outside_none{ margin: 0  !important}
.fill_outside_bottom_none{ margin-bottom: 0  !important}
.fill_outside_top_bottom_none{ margin-top: 0 !important; margin-bottom: 0  !important}
.fill_outside_left_none { margin-left: 0  !important} 
.fill_outside_right_none { margin-right: 0  !important}
.fill_outside_left_right_none { margin-left: 0 !important; margin-right: 0  !important}
.fill_outside_top_none{ margin-top: 0  !important}
.fill_outside_bottom_none{ margin-bottom: 0  !important}
.fill_outside_top_bottom_none{ margin-top: 0 !important; margin-bottom: 0  !important}
.fill_outside_left_none { margin-left: 0  !important} 
.fill_outside_right_none { margin-right: 0  !important}
.fill_outside_left_right_none { margin-left: 0 !important; margin-right: 0  !important}


.expand{
width: 100% !important;
margin-left: 0; margin-right: 0; 
padding: 0;
float: left; clear: both;
}

.tb, .tb_hover,.tb_border,
.tb_striped{margin:2px; border-collapse:collapse}
.tb th,.tb_hover th,
.tb_border th,
.tb_striped th{font-weight:bold;color:#444;background:#fff;padding:10px 5px;text-align:left}
.tb td,
.tb_hover td,
.tb_border td, .tb_striped td{border-bottom:1px solid #444;padding:10px 5px;color:#444;background:#fff}
.tb_tr_hover td{background:#edeaea}
.tb_tr_off td{background:#fff}
.tb_tr_on td{background:#f8f8f8}
.tb_hover tr:hover td{background:#f8f8f8}
.tb_border th{border:1px solid #444;font-weight:bold;color:#444;background:#fff;padding:10px 5px;text-align:left}
.tb_border td{border:1px solid #444;padding:10px 5px;color:#444;background:#fff}

.tb_striped tbody >tr:nth-child(2n+1) >td,
.tb_striped tbody >tr:nth-child(2n+1) >th{ background-color:#F7F7F7}

.lt_horizontal li,
.lt_horizontal dd{
float:left;
display:inline;
padding:0 5px 0 0
}


.lt_vertical li,
.lt_vertical dd{padding:0 0 5px 0}

.menu_bar,
.menu_bar ul,
.menu_bar ul li,
.menu_bar ul li a,
.menu_bar .menu_bt {
margin: 0;
padding: 0;
border: 0;
list-style: none;
line-height: 1;
display: block;
position: relative;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box
}

.menu_bar:after,
.menu_bar > ul:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0
}

.menu_bar .menu_bt {
display: none
}

.menu_bar {
width: auto;
font-family:Helvetica,Arial,Verdana,sans-serif;
background: #d8d8d8
}

.menu_bar.pull_right > ul > li {
float: right
}

.menu_bar > ul > li {
float: left;
display: inline-block
}

.menu_bar.pull_center > ul {
float: none;
text-align: center
}
.menu_bar.pull_center > ul > li {
float: none
}

.menu_bar.pull_center ul ul {
text-align: left
}

.menu_bar > ul > li.text,
.menu_bar > ul > li > a {
padding: 18px 25px 21px 25px;
border-right: 1px solid rgba(80, 80, 80, 0.12);
text-decoration: none;
font-size: 14px;
color: #222;
letter-spacing: 1px
}
.menu_bar > ul > li:hover > a,
.menu_bar > ul > li > a:hover,
.menu_bar > ul > li.current > a {
color: #000;
background: #C1BFBF
}
.menu_bar > ul > li.has_sub > a {
padding-right: 45px
}
.menu_bar > ul > li.has_sub > a::after {
content: "";
position: absolute;
width: 0;
height: 0;
border: 6px solid transparent;
border-top-color: #ccc;
right: 17px;
top: 22px
}

.menu_bar > ul > li.has_sub.current > a::after,
.menu_bar > ul > li.has_sub:hover > a {
border-top-color: #000
}

.menu_bar ul ul {
position: absolute;
z-index: 1000;
left: -9999px;
top: 60px;
padding-top: 6px;
font-size: 14px;
opacity: 0;
-webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
-moz-transition: top 0.2s ease, opacity 0.2s ease-in;
-ms-transition: top 0.2s ease, opacity 0.2s ease-in;
-o-transition: top 0.2s ease, opacity 0.2s ease-in;
transition: top 0.2s ease, opacity 0.2s ease-in
}
.menu_bar.pull_right ul ul {
text-align: right
}
.menu_bar > ul > li > ul::after {
content: "";
position: absolute;
width: 0;
height: 0;
border: 5px solid transparent;
border-bottom-color: #ffffff;
top: -4px;
left: 20px
}
.menu_bar.pull_right > ul > li > ul::after {
left: auto;
right: 20px
}
.menu_bar ul ul ul::after {
content: "";
position: absolute;
width: 0;
height: 0;
border: 5px solid transparent;
border-right-color: #ffffff;
top: 11px;
left: -4px
}
.menu_bar.pull_right ul ul ul::after {
border-right-color: transparent;
border-left-color: #ffffff;
left: auto;
right: -4px
}
.menu_bar > ul > li > ul {
top: 120px
}
.menu_bar > ul > li:hover > ul {
top: 52px;
left: 0;
opacity: 1
}
.menu_bar.pull_right > ul > li:hover > ul {
left: auto;
right: 0
}
.menu_bar ul ul ul {
padding-top: 0;
padding-left: 6px
}
.menu_bar.pull_right ul ul ul {
padding-right: 6px
}
.menu_bar ul ul > li:hover > ul {
left: 180px;
top: 0;
opacity: 1
}
.menu_bar.pull_right ul ul > li:hover > ul {
left: auto;
right: 100%;
opacity: 1
}
.menu_bar ul ul li a {
text-decoration: none;
padding: 11px 25px;
width: 180px;
color: #777;
background: #f8f8f8;
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 
1px 1px 1px rgba(0, 0, 0, 0.1),
-1px 1px 1px rgba(0, 0, 0, 0.1)
}
.menu_bar ul ul li:hover > a,
.menu_bar ul ul li.current > a {
color: #2C3E50
}
.menu_bar ul ul li:first_child > a {
border-top-left-radius: 3px;
border-top-right-radius: 3px
}
.menu_bar ul ul li:last_child > a {
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px
}
.menu_bar > ul > li > ul::after {
position: absolute;
display: block
}
.menu_bar ul ul li.has_sub > a::after {
content: "";
position: absolute;
width: 0;
height: 0;
border: 4px solid transparent;
border-left-color: #777777;
right: 17px;
top: 14px
}
.menu_bar.pull_right ul ul li.has_sub > a::after {
border-left-color: transparent;
border-right-color: #777;
right: auto;
left: 17px
}
.menu_bar ul ul li.has_sub.current > a::after,
.menu_bar ul ul li.has_sub:hover > a::after {
border-left-color: #2C3E50
}

.menu_bar.pull_right ul ul li.has_sub.current > a::after,
.menu_bar.pull_right ul ul li.has_sub:hover > a::after {
border-right-color: #2C3E50;
border-left-color: transparent
}



ul.menu_sidebar,
ul.menu_sidebar *{
padding: 0;
margin: 0
}

ul.menu_sidebar{
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
}


ul.menu_sidebar,
ul.menu_sidebar li,
ul.menu_sidebar li a {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


ul.menu_sidebar ul {
  display: none;
}
.align-right {
  float: right;
}

ul.menu_sidebar > li{
    border-bottom: 1px solid #EAE5E5
}

ul.menu_sidebar > li > a {
  padding: 15px 20px;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #444;
  background: #fff;
}


ul.menu_sidebar li > a:hover,
ul.menu_sidebar li.active > a,
ul.menu_sidebar li.open > a {
  background: #EAE5E5;
}

ul.menu_sidebar li > a:hover > span::after,
ul.menu_sidebar li.active > a > span::after,
ul.menu_sidebar li.open > a > span::after {
  border-color: #eee;
}

ul.menu_sidebar ul li a {
  cursor: pointer;
  padding: 10px 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  background: #888;
}

ul.menu_sidebar ul li:hover > a,
ul.menu_sidebar ul li.open > a,
ul.menu_sidebar ul li.active > a {
  background: #666;
  color: #ffffff;
}


ul.menu_sidebar ul ul li a {
  padding-left: 30px;
}


ul.menu_sidebar ul ul li {
    border-bottom: 1px solid #999
}

ul.menu_sidebar li > ul > li:last-child > a,
ul.menu_sidebar li > ul > li > a {
  border-bottom: 1px solid #777;
}

ul.menu_sidebar li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
ul.menu_sidebar li.has_dropdown > a::after,
ul.menu_sidebar ul li.has_dropdown > a::after {
  display: block;
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-top: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


ul.menu_sidebar li.has_dropdown > a::after{
 border-color: #666
}


ul.menu_sidebar ul li.active > a::after,
ul.menu_sidebar ul li.open > a::after,
ul.menu_sidebar ul li > a:hover::after {
  border-color: #ffffff;
}





ul.menu_sidebar.menu_primary li.has_dropdown > a::after {
    border-color: #00A2CC;
}

ul.menu_sidebar.menu_primary > li > a {
    color: #ccc;
    background: #06c
}

ul.menu_sidebar.menu_primary > li > a:hover {
    color: #fff;
    background: #04c;
}

ul.menu_sidebar.menu_primary > li{
    border-bottom: 1px solid #07c
}


ul.menu_sidebar.menu_primary ul li a {
  background: #07c;
}

ul.menu_sidebar.menu_primary ul li a:hover {
  background: #08c;
}


ul.menu_sidebar.menu_primary li > ul > li:last-child > a, 
ul.menu_sidebar.menu_primary li > ul > li > a {
    border-bottom: 1px solid #06c;
}


ul.menu_sidebar.menu_secondary li.has_dropdown > a::after {
    border-color: #6A0005;
}

ul.menu_sidebar.menu_secondary > li > a {
    color: #ccc;
    background: #a00
}

ul.menu_sidebar.menu_secondary > li > a:hover {
    color: #fff;
    background: #c00
}


ul.menu_sidebar.menu_secondary ul li a {
  background: #850006;
}

ul.menu_sidebar.menu_secondary ul li a:hover {
  background: #6A0005;
}


ul.menu_sidebar.menu_secondary li > ul > li:last-child > a, 
ul.menu_sidebar.menu_secondary li > ul > li > a {
    border-bottom: 1px solid #5D0003;
}


ul.menu_sidebar.menu_secondary > li{
    border-bottom: 1px solid #900
}





ul.menu_sidebar.menu_dark > li > a {
    color: #ccc;
    background: #222
}

ul.menu_sidebar.menu_dark > li > a:hover {
    color: #fff;
    background: #111
}


ul.menu_sidebar.menu_dark > li{
    border-bottom: 1px solid #444
}


ul.menu_sidebar.menu_dark ul li a {
  background: #444;
}

ul.menu_sidebar.menu_dark ul li a:hover {
  background: #222;
}


ul.menu_sidebar.menu_light > li > a {
    color: #666;
    background: #f9f9f9
}

ul.menu_sidebar.menu_light > li > a:hover {
    color: #444;
    background: #f6f6f6
}

ul.menu_sidebar.menu_light > li{
    border-bottom: 1px solid #e5e5e5
}





ul.menu_sidebar.menu_standard > li > a {
    color: #222;
    background: #d6d6d6
}

ul.menu_sidebar.menu_standard > li > a:hover {
    color: #444;
    background: #ccc
}

ul.menu_sidebar.menu_standard > li{
    border-bottom: 1px solid #b2b2b2
}





@media all and (max-width: 890px)
{ 

.menu_bar > ul {
display: none
}
.menu_bar > ul.open {
display: block;
border-top: 1px solid rgba(0, 0, 0, 0.1)
}
.menu_bar.pull_right > ul {
float: none
}
.menu_bar.pull_center > ul {
text-align: left
}
.menu_bar > ul > li,
.menu_bar.pull_right > ul > li {
float: none;
display: block
}
.menu_bar > ul > li > a {
padding: 18px 25px 18px 25px;
border-right: 0
}
.menu_bar > ul > li:hover > a,
.menu_bar > ul > li.current > a {
color: #fff;
background: #C1BFBF
}
.menu_bar .menu_bt {
display: block;
text-decoration: none;
font-size: 14px;
color: #222;
padding: 18px 25px 18px 25px;
text-transform: uppercase;
letter-spacing: 1px;
cursor: pointer
}

.menu_bar ul ul,
.menu_bar ul li:hover > ul,
.menu_bar > ul > li > ul,
.menu_bar ul ul ul,
.menu_bar ul ul li:hover > ul,
.menu_bar.pull_right ul ul,
.menu_bar.pull_right ul li:hover > ul,
.menu_bar.pull_right > ul > li > ul,
.menu_bar.pull_right ul ul ul,
.menu_bar.pull_right ul ul li:hover > ul {
left: 0;
right: auto;
top: auto;
opacity: 1;
width: 100%;
padding: 0;
position: relative;
text-align: left
}
.menu_bar ul ul li {
width: 100%
}
.menu_bar ul ul li a {
width: 100%;
box-shadow: none;
padding-left: 35px
}
.menu_bar ul ul ul li a {
padding-left: 45px
}
.menu_bar ul ul li:first_child > a,
.menu_bar ul ul li:last_child > a {
border-radius: 0
}

.menu_bar .menu_bt::after {
display: block;
content: '';
position: absolute;
height: 3px;
width: 22px;
border-top: 2px solid #2C3E50;
border-bottom: 2px solid #2C3E50;
right: 25px;
top: 18px
}

.menu_bar .menu_bt::before {
display: block;
content: '';
position: absolute;
height: 3px;
width: 22px;
border-top: 2px solid #2C3E50;
right: 25px;
top: 28px
}

.menu_bar.bg_primary .menu_bt ,
.menu_bar.bg_secondary .menu_bt ,
.menu_bar.bg_dark .menu_bt {
color: #ccc
}

.menu_bar.bg_primary .menu_bt::after ,
.menu_bar.bg_secondary .menu_bt::after ,
.menu_bar.bg_dark .menu_bt::after {
border-top: 2px solid #ccc;
border-bottom: 2px solid #ccc
}

.menu_bar.bg_primary .menu_bt::before ,
.menu_bar.bg_secondary .menu_bt::before ,
.menu_bar.bg_dark .menu_bt::before {
border-top: 2px solid #ccc
}

.menu_bar > ul > li.has_sub > a::after,
.menu_bar ul ul li.has_sub > a::after {
display: none
}

}

/* end responsive */

.menu_bar.bg_primary {
background: #06a
}

.menu_bar.bg_primary > ul > li.text,
.menu_bar.bg_primary > ul > li > a {
color: #ccc
}

.menu_bar.bg_primary > ul > li:hover > a,
.menu_bar.bg_primary > ul > li.current > a {
color: #fff;
background: #06c
}

.menu_bar.bg_primary.hover_dark > ul > li:hover > a,
.menu_bar.bg_primary.hover_dark > ul > li.current > a 
{ color: #fff; background: #222 }


.menu_bar.bg_primary.hover_secondary > ul > li:hover > a,
.menu_bar.bg_primary.hover_secondary > ul > li.current > a 
{ color: #fff; background: #a00 }

.menu_bar.bg_primary.hover_light > ul > li:hover > a,
.menu_bar.bg_primary.hover_light > ul > li.current > a 
{ color: #000; background: #d6d6d6 }


.menu_bar.bg_primary.hover_standard > ul > li:hover > a,
.menu_bar.bg_primary.hover_standard > ul > li.current > a 
{ color: #000; background: #ccc }


/* ------------------------- */

.menu_bar.bg_secondary {
background: #a00
}

.menu_bar.bg_secondary > ul > li.text,
.menu_bar.bg_secondary > ul > li > a {
color: #ccc
}

.menu_bar.bg_secondary > ul > li:hover > a,
.menu_bar.bg_secondary > ul > li.current > a {
color: #fff;
background: #c00
}


.menu_bar.bg_secondary.hover_primary > ul > li:hover > a,
.menu_bar.bg_secondary.hover_primary > ul > li.current > a 
{ color: #fff; background: #06a }


.menu_bar.bg_secondary.hover_dark > ul > li:hover > a,
.menu_bar.bg_secondary.hover_dark > ul > li.current > a 
{ color: #fff; background: #222 }

.menu_bar.bg_secondary.hover_light > ul > li:hover > a,
.menu_bar.bg_secondary.hover_light > ul > li.current > a 
{ color: #000; background: #d6d6d6 }


.menu_bar.bg_secondary.hover_standard > ul > li:hover > a,
.menu_bar.bg_secondary.hover_standard > ul > li.current > a 
{ color: #000; background: #ccc }

/* ------------------------- */


.menu_bar.bg_light {
background: #f6f6f6
}

.menu_bar.bg_light > ul > li.text,
.menu_bar.bg_light > ul > li > a {
color: #222
}

.menu_bar.bg_light > ul > li:hover > a,
.menu_bar.bg_light > ul > li.current > a {
color: #000;
background: #d6d6d6
}

.menu_bar.bg_light.hover_primary > ul > li:hover > a,
.menu_bar.bg_light.hover_primary > ul > li.current > a 
{ color: #fff; background: #06a }


.menu_bar.bg_light.hover_secondary > ul > li:hover > a,
.menu_bar.bg_light.hover_secondary > ul > li.current > a 
{ color: #fff; background: #a00 }

.menu_bar.bg_light.hover_dark > ul > li:hover > a,
.menu_bar.bg_light.hover_dark > ul > li.current > a 
{ color: #fff; background: #222 }


.menu_bar.bg_light.hover_standard > ul > li:hover > a,
.menu_bar.bg_light.hover_standard > ul > li.current > a 
{ color: #000; background: #ccc }

/* ------------------------- */



.menu_bar.bg_dark {
background: #222
}

.menu_bar.bg_dark > ul > li.text,
.menu_bar.bg_dark > ul > li > a {
color: #ccc
}

.menu_bar.bg_dark > ul > li:hover > a,
.menu_bar.bg_dark > ul > li.current > a {
color: #fff;
background: #000
}

.menu_bar.bg_dark > ul > li.has_sub > a::after,
.menu_bar.bg_dark > ul > li.has_sub > a {
border-top-color: #666
}

.menu_bar.bg_dark > ul > li.has_sub.current > a::after,
.menu_bar.bg_dark > ul > li.has_sub:hover > a {
border-top-color: #fff
}

.menu_bar.bg_dark.hover_primary > ul > li:hover > a,
.menu_bar.bg_dark.hover_primary > ul > li.current > a 
{ color: #fff; background: #06a }


.menu_bar.bg_dark.hover_secondary > ul > li:hover > a,
.menu_bar.bg_dark.hover_secondary > ul > li.current > a 
{ color: #fff; background: #a00 }

.menu_bar.bg_dark.hover_light > ul > li:hover > a,
.menu_bar.bg_dark.hover_light > ul > li.current > a 
{ color: #000; background: #d6d6d6 }


.menu_bar.bg_dark.hover_standard > ul > li:hover > a,
.menu_bar.bg_dark.hover_standard > ul > li.current > a 
{ color: #000; background: #ccc }



@media screen and (max-width: 850px) {

  .tb_scale thead { display: none; }
  .tb_scale tbody td { 
    display: block
  }


  .tb_scale tbody tr td:first-child { 
    background: #09c; color: #fff; 
  }
	.tb_scale tbody td:before { 
    min-width: 100px;
    padding-right: 10px;
    content: attr(data-th); 
    font-weight: bold;
    display: inline-block;
  }

  .tb_scale tbody td{
    border-top: none
  }




}

