/*
 *
 * ------------------------------------------------------
 * DobokCSS
 * ------------------------------------------------------
 *
 * page:    https://dobokcss.github.io
 * author:  Estefanio N Santos <estefanions AT gmail DOT com> 
 * version: 0.28.0
 */

:root {
    --prm: #40535b;
    --scn: #912e2e;
    --hv_prm: #323f44;
    --hv_scn: #7c2a2a;
}

body{ 
    color: #333;
    background-color:#fff;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em
}


h1, h2, h3{margin-bottom: 15px}
h1{font-size: 2.5em}
h2{font-size: 2em}
h3{font-size: 1.5em}

fieldset{ border: 1px solid #ccc }
legend{ padding: 0 5px }

.pg_header{
    width: 100%;
    float: left;
    padding: 10px 0 20px;
    margin-bottom: 15px;
    clear: both
}

.fold{
    width: 100%;
    float: left;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-bottom: 25px
}

.pg_header .tagline{ color: #999 }

.xl_block, .xl_show, .block, .show{ display: block }
.xl_none,  .xl_hide, .hide, .none{ display: none}

.bd, .bt.bd{border: 1px solid}

.bd_t_prm, .bd_t_scn, .bd_t_lgt, .bd_t_stn { 
    border-right: none 0; 
    border-bottom: none 0; 
    border-left: none 0
}

.bd_r_prm, .bd_r_scn, .bd_r_lgt, .bd_r_stn { 
    border-bottom: none 0; 
    border-left: none 0; 
    border-top: none 0
}

.bd_b_prm, .bd_b_scn, .bd_b_lgt, .bd_b_stn { 
    border-top: none 0;
    border-left: none 0; 
    border-right: none 0
}

.bd_l_prm, .bd_l_scn, .bd_l_lgt, .bd_l_stn { 
    border-top: none 0; 
    border-right: none 0; 
    border-bottom: none 0
}

.bt.bd_prm, .bd_prm, 
.bd_t_prm, .bd_r_prm, .bd_l_prm, .bd_b_prm,
.bd_t_prm_0, .bd_r_prm_0, .bd_l_prm_0, .bd_b_prm_0 { 
    color: var(--prm);
    border-color: var(--prm)
}

.bt.bd_scn, .bd_scn, 
.bd_r_scn, .bd_l_scn, .bd_b_scn, .bd_t_scn_0,
.bd_r_scn_0, .bd_l_scn_0, .bd_b_scn_0 { 
    color: var(--scn);
    border-color: var(--scn)
}

.bt.bd_t_lgt, .bd_t_lgt, 
.bd_r_lgt, .bd_l_lgt, .bd_b_lgt,
.bd_t_lgt_0, .bd_r_lgt_0, .bd_l_lgt_0, .bd_b_lgt_0 { 
    color: #666;
    border-color: #f6f6f6
}

.bt.bd_stn, .bd_stn, 
.bd_t_stn, .bd_r_stn, .bd_l_stn, .bd_b_stn,
.bd_t_stn_0, .bd_r_stn_0, .bd_l_stn_0, .bd_b_stn_0 { 
    color: #666;
    border-color: #ccc
}

.bd_y_prm, .bd_y_scn, .bd_y_lgt, .bd_y_stn { 
    border-left: 0 none; border-right: 0 none 
}

.bd_x_prm, .bd_x_scn, .bd_x_lgt, .bd_x_stn { 
    border-top: 0 none; border-bottom: 0 none 
}

.bd_t_prm_0, .bd_t_scn_0, .bd_t_lgt_0, .bd_t_stn_0{ 
    border-top: 0 none
}

.bd_r_prm_0, .bd_r_scn_0, .bd_r_lgt_0, .bd_r_stn_0{ 
    border-right: 0 none
}

.bd_b_prm_0, .bd_b_scn_0, .bd_b_lgt_0, .bd_b_stn_0 { 
    border-bottom: 0 none
}

.bd_l_prm_0, .bd_l_scn_0, .bd_l_lgt_0, .bd_l_stn_0{ 
    border-left: 0 none
}

.rd_circle{    
    -webkit-border-radius: 500%;
    -moz-border-radius: 500%;
    border-radius: 500%
}

.rd{    
    -webkit-border-radius:4px;    
    -moz-border-radius:4px;    
    border-radius:4px
}

.rd_polaroid{    
    background-color:#FFF;    
    border:1px solid rgba(0,0,0,0.2);    
    box-shadow:0 1px 3px rgba(0,0,0,0.1);    
    padding:4px
}

.rd_t{    
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.rd_r{    
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.rd_b{    
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

.rd_l{    
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.rd_t_r{
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px
}

.rd_t_l{
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px
}

.rd_b_r{
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px
}

.rd_b_l{
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px
}

.rd_t_r_0{
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0
}

.rd_t_l_0{
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0
}

.rd_b_r_0{
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0
}

.rd_b_l_0{
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0
}

input, select, textarea{
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    padding: 8px 0 
}

input, select{
    min-height: 26px
}

.bt, input.bt, button.bt{
    width: auto;
    min-height: 45px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer
}

.bt, input, select, textarea, button{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.bt{ padding: 10px 15px 0 15px }

div.bt, span.bt, a.bt { 
    padding-top: 14px;
    padding-left: 37px;
    padding-right: 37px
}

input.bt, button.bt{ padding: 7px 35px }
input:focus, select:focus, textarea:focus {
    border-color: var(--prm);
    transition: 0.8s
}

.bt_prm, .bt_scn { color: #fff }
.bt_lgt {color: #444}
.bt{background: #fff}
.bt:hover{background: #ccc}

.bg_prm, .bt_prm{ background: var(--prm)}
.bg_scn, .bt_scn{ background: var(--scn)}
.bg_lgt, .bt_lgt{ background: #f6f6f6}
.bg, .bg_stn, .bt_stn{ color: #444; background: #ccc}

.bg_prm, .bg_scn{color: #f6f6f6 }

.bt_prm:hover {color: #fff; background: var(--hv_prm) }
.bt_scn:hover {color: #fff; background: var(--hv_scn) }
.bt_lgt:hover {color: #000; background: #d6d6d6 }
.bt_stn:hover {color: #000; background: #afafaf }

.bt.bt_hv_prm:hover, .bg.bg_hv_prm:hover { color: #fff; background: var(--hv_prm)}
.bt.bt_hv_scn:hover, .bg.bg_hv_scn:hover { color: #fff; background: var(--hv_scn)}
.bt.bt_hv_lgt:hover, .bg.bg_hv_lgt:hover { color: #000; background: #d6d6d6}
.bt.bt_hv_stn:hover, .bg.bg_hv_stn:hover { color: #000; background: #afafaf}

.bg_alpha, .bg_alpha_hv:hover {
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4)
}

.bg_raw{background-color: transparent}

.pn{cursor: pointer}
.mv{cursor: move}
.hl{cursor: help}
.nl{cursor: not-allowed}

.row, .row_b_none { margin-left: -1.55%; margin-bottom: 0.775% }

.row:before, .row:after {display: table; content: ""}
.row:after {clear: both}

.lt_breadcrumb li::before{ content: '> '}

.lt_breadcrumb li:first-child::before { content: '' }

.lt_breadcrumb li{
    padding: 0 5px 0;
    display: inline;
    float: left
}

.lt_breadcrumb a { color: #09c  }
.lt_breadcrumb a:hover { color: #09a  }

.gr{
    float: left; 
    text-align: left;
    margin-left: 1.55%; 
    min-height: 1.55%; 
    line-height: 20px
}

.gr_field input, .gr_field select, .gr_field textarea,
.gr_input input, .gr_select select, .gr_textarea textarea ,
.gr_button button,
.gr_button input[type="submit"],
.gr_button input[type="button"] { 
    width: 100%; float: left
}

.gr_1{ width: 6.78%} 
.gr_2{ width: 15.11%}
.gr_3{ width: 23.44%}
.gr_4{ width: 31.77%}
.gr_5{ width: 40.1%}
.gr_6{ width: 48.43%}
.gr_7{ width: 56.76%}
.gr_8{ width: 65.09%}
.gr_9{ width: 73.42%}
.gr_10{width: 81.75%}
.gr_11{width: 90.08%}
.gr_12, .container { width: 96% } 

.gr_lg_static{ width: 890px }
.gr_md_static{ width: 719px }
.gr_sm_static{ width: 500px }

@media (max-width: 930px) { .gr_lg_static  { width: 92%; } }
@media (max-width: 759px) { .gr_md_static  { width: 92%; } }
@media (max-width: 540px) { .gr_sm_static  { width: 92%; } }

.container .gr_12{
    width: 100%;
    margin-left: 0; 
    margin-bottom: 0.775%
}  

.row .gr_12{
    width: 98.45%;
    margin-left: 1.55%;
    margin-bottom: 0 
}

.container { margin-left: 2%; margin-right: 2% }
.container:before, .container:after { display: table; content: ""}
.container:after {clear: both}

img, object, embed, video, iframe, iframe[style] {
    max-width: 100%; height: auto
}

.radiohd{
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    float: left;
    margin-bottom: 30px

}

.radio_element{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.aspect_ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 51%
}

.aspect_ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0
}

.scale_none{ max-width: none !important }

.tx_prm , .lk_prm {color: var(--prm)}
.tx_scn , .lk_scn {color: var(--scn)}
.tx_lgt , .lk_lgt {color: #f6f6f6}
.tx_stn , .lk_stn {color: #ccc}

.tx_hv_prm:hover, .lk_prm:hover{ color: var(--hv_prm)}
.tx_hv_scn:hover, .lk_scn:hover{ color:var(--hv_scn)}
.tx_hv_lgt:hover, .lk_lgt:hover{ color: #d6d6d6}
.tx_hv_stn:hover, .lk_stn:hover{ color: #000}

.lk_hv_prm:hover { color: var(--prm) !important}
.lk_hv_scn:hover { color: var(--scn) !important}
.lk_hv_lgt:hover { color: #f6f6f6 !important}
.lk_hv_stn:hover { color: #ccc !important}

.lk_prm.lt_y a, .lk_prm.lt_x a { color: var(--prm) }
.lk_scn.lt_y a, .lk_scn.lt_x a { color: var(--scn) }
.lk_stn.lt_y a, .lk_stn.lt_x a { color: #ccc }
.lk_lgt.lt_y a, .lk_lgt.lt_x a { color: #f6f6f6 }

.lt_y.lt_mt_1 li { padding-top: 10px }
.lt_y.lt_mb_1 li { padding-bottom: 10px }

.lt_y.lt_pt_1 li { margin-top: 10px }
.lt_y.lt_pb_1 li { margin-bottom: 10px }

.lk_prm.lt_y a:hover,
.lk_prm.lt_x a:hover,
.lk_hv_prm.lt_y a:hover,
.lk_hv_prm.lt_x a:hover { color: var(--hv_prm) }

.lk_scn.lt_y a:hover,
.lk_scn.lt_x a:hover,
.lk_hv_scn.lt_y a:hover,
.lk_hv_scn.lt_x a:hover { color: var(--hv_scn) }

.lk_lgt.lt_y a:hover,
.lk_lgt.lt_x a:hover,
.lk_hv_lgt.lt_y a:hover,
.lk_hv_lgt.lt_x a:hover { color: #d6d6d6 }

.lk_stn.lt_y a:hover,
.lk_stn.lt_x a:hover,
.lk_hv_stn.lt_y a:hover,
.lk_hv_stn.lt_x a:hover { color: #000 }

@media only screen and (max-width: 890px) 
{
    .gr_lg_block, .gr_md_show{ display: block }
    .gr_lg_none,  .gr_md_hide{ display: none}

    .row_fluid { 
        width: 100%; float: left; margin-left: 0; margin-bottom: 0 
    }

    .gr_lg_3   { width: 23.44% }
    .gr_lg_4   { width: 31.77% }
    .gr_lg_6   { width: 48.45% }
    .gr_lg_8   { width: 65.09% }
    .gr_lg_12  { width: 100%; float: left; clear: both }
    .row_fluid .gr_lg_12  { width: 98.45%; float: left; clear: both }

    .pp_0_lg{ margin: 0 }
    .pt_0_lg{ margin-top: 0 }
    .pl_0_lg{ margin-left: 0 }
    .pb_0_lg{ margin-bottom: 0 }
    .pr_0_lg{ margin-right: 0 }
    .px_0_lg{ margin-left: 0; margin-right: 0 }
    .py_0_lg{ margin-top: 0; margin-bottom: 0 }

    .mm_0_lg{ margin: 0 }
    .mt_0_lg{ margin-top: 0;}
    .ml_0_lg{ margin-left: 0 }
    .mb_0_lg{ margin-bottom: 0}
    .mr_0_lg{ margin-right: 0 }
    .mx_0_lg{ margin-left: 0; margin-right: 0 }
    .my_0_lg{ margin-top: 0; margin-bottom: 0 }

    .mm_1_lg{ margin: 1.55% }
    .mt_1_lg{ margin-top: 1.55%;}
    .ml_1_lg{ margin-left: 1.55% }
    .mb_1_lg{ margin-bottom: 1.55%}
    .mr_1_lg{ margin-right: 1.55% }
    .mx_1_lg{ margin-left: 1.55%; margin-right: 1.55% }
    .my_1_lg{ margin-top: 1.55%; margin-bottom: 1.55% }

    .pp_1_lg{ padding: 1.55% }
    .pt_1_lg{ padding-top: 1.55%}
    .pl_1_lg{ padding-left: 1.55%; }
    .pb_1_lg{ padding-bottom: 1.55%}
    .pr_1_lg{ padding-right: 1.55% }
    .px_1_lg{ padding-left: 1.55%; padding-right: 1.55% }
    .py_1_lg{ padding-top: 1.55%; padding-bottom: 1.55% }

    .mm_2_lg{ margin: 3.10% }
    .mt_2_lg{ margin-top: 3.10%;}
    .ml_2_lg{ margin-left: 3.10% }
    .mb_2_lg{ margin-bottom: 3.10%}
    .mr_2_lg{ margin-right: 3.10% }
    .mx_2_lg{ margin-left: 3.10%; margin-right: 3.10% }
    .my_2_lg{ margin-top: 3.10%; margin-bottom: 3.10% }

    .pp_2_lg{ padding: 3.10% }
    .pt_2_lg{ padding-top: 3.10%}
    .pl_2_lg{ padding-left: 3.10%; }
    .pb_2_lg{ padding-bottom: 3.10%}
    .pr_2_lg{ padding-right: 3.10% }
    .px_2_lg{ padding-left: 3.10%; padding-right: 3.10% }
    .py_2_lg{ padding-top: 3.10%; padding-bottom: 3.10% }

    .mm_3_lg{ margin: 4.65% }
    .mt_3_lg{ margin-top: 4.65%;}
    .ml_3_lg{ margin-left: 4.65% }
    .mb_3_lg{ margin-bottom: 4.65%}
    .mr_3_lg{ margin-right: 4.65% }
    .mx_3_lg{ margin-left: 4.65%; margin-right: 4.65% }
    .my_3_lg{ margin-top: 4.65%; margin-bottom: 4.65% }

    .pp_3_lg{ padding: 4.65% }
    .pt_3_lg{ padding-top: 4.65%}
    .pl_3_lg{ padding-left: 4.65%; }
    .pb_3_lg{ padding-bottom: 4.65%}
    .pr_3_lg{ padding-right: 4.65% }
    .px_3_lg{ padding-left: 4.65%; padding-right: 4.65% }
    .py_3_lg{ padding-top: 4.65%; padding-bottom: 4.65% }

    .mm_5_lg{ margin: 7.75%  }
    .mt_5_lg{ margin-top: 7.75%; }
    .ml_5_lg{ margin-left: 7.75%  }
    .mb_5_lg{ margin-bottom: 7.75% }
    .mr_5_lg{ margin-right: 7.75%  }
    .mx_5_lg{ margin-left: 7.75% ; margin-right: 7.75%  }
    .my_5_lg{ margin-top: 7.75% ; margin-bottom: 7.75%  }

    .pp_5_lg{ padding: 7.75%  }
    .pt_5_lg{ padding-top: 7.75% }
    .pl_5_lg{ padding-left: 7.75%;  }
    .pb_5_lg{ padding-bottom: 7.75% }
    .pr_5_lg{ padding-right: 7.75%  }
    .px_5_lg{ padding-left: 7.75% ; padding-right: 7.75%  }
    .py_5_lg{ padding-top: 7.75% ; padding-bottom: 7.75%  }

    .mt_15_lg{ margin-top: 15px}
    .mb_15_lg{ margin-bottom: 15px}
    .pt_15_lg{ padding-top: 15px}
    .pb_15_lg{ padding-bottom: 15px}

    .mt_20_lg{ margin-top: 20px}
    .mb_20_lg{ margin-bottom: 20px}
    .pt_20_lg{ padding-top: 20px}
    .pb_20_lg{ padding-bottom: 20px}

    .mt_30_lg{ margin-top: 30px}
    .mb_30_lg{ margin-bottom: 30px}
    .pt_30_lg{ padding-top: 30px}
    .pb_30_lg{ padding-bottom: 30px}

    .mt_40_lg{ margin-top: 40px }
    .mb_40_lg{ margin-bottom: 40px }
    .pt_40_lg{ padding-top: 40px }
    .pb_40_lg{ padding-bottom: 40px }

    .mt_50_lg{ margin-top: 50px }
    .mb_50_lg{ margin-bottom: 50px }
    .pt_50_lg{ padding-top: 50px }
    .pb_50_lg{ padding-bottom: 50px }

    .mt_100_lg{ margin-top: 100px }
    .mb_100_lg{ margin-bottom: 100px }
    .pt_100_lg{ padding-top: 100px }
    .pb_100_lg{ padding-bottom: 100px }

    .mt_200_lg{ margin-top: 200px }
    .mb_200_lg{ margin-bottom: 200px }
    .pt_200_lg{ padding-top: 200px }
    .pb_200_lg{ padding-bottom: 200px }

    .mt_300_lg{ margin-top: 300px }
    .mb_300_lg{ margin-bottom: 300px }
    .pt_300_lg{ padding-top: 300px }
    .pb_300_lg{ padding-bottom: 300px }

    .tx_c_lg{text-align: center !important}
    .tx_l_lg{text-align: left !important}
    .tx_r_lg{text-align: right !important}
    .tx_j_lg{text-align: justify !important}

    .tx_lc_lg{text-transform: lowercase !important}
    .tx_uc_lg{text-transform: uppercase !important}
    .tx_cp_lg{text-transform: capitalize !important}
    .tx_tr_no{text-transition: none}

    .tx_mr_lg{font-size: 0.625em }
    .tx_sm_lg{font-size: 0.75em }
    .tx_md_lg{font-size: 1em}
    .tx_lg_lg{ font-size: 1.25em}
    .tx_xlg_lg{font-size: 2.25em}

    .tx_b_lg{ font-weight: bold}
    .tx_i_lg{font-style: italic}
    .tx_b_no_lg{ font-weight: normal}
    .tx_i_no_lg{font-style: normal}
    .tx_u_lg{text-decoration: underline}
    .tx_d_no_lg{text-decoration: none}
    .tx_o_lg{text-decoration: overline}

    .tx_prm_lg, .lk_prm_lg{ color: var(--prm)}
    .tx_scn_lg, .lk_scn_lg{color:var(--scn)}
    .tx_lgt_lg, .lk_lgt_lg{color: #f6f6f6}
    .tx_stn_lg, .lk_stn_lg{color: #ccc}

    .tx_hv_prm_lg:hover, .lk_prm_lg:hover{ color: var(--prm)}
    .tx_hv_scn_lg:hover, .lk_scn_lg:hover{color:var(--hv_scn)}
    .tx_hv_lgt_lg:hover, .lk_lgt_lg:hover{color: #d6d6d6}
    .tx_hv_stn_lg:hover, .lk_stn_lg:hover{color: #000} 
}

@media only screen and (max-width: 719px) 
{
    .gr_md_block, .gr_md_show{ display: block }
    .gr_md_none,  .gr_md_hide{ display: none}

    .gr_md_3   { width: 23.44% }
    .gr_md_4   { width: 31.77% }
    .gr_md_6   { width: 48.45% }
    .gr_md_8   { width: 65.09% }
    .gr_md_12  { width: 100%; float: left; clear: both }
    .row_fluid .gr_md_12  { width: 98.45%; float: left; clear: both }

    .pp_0_md{ margin: 0 }
    .pt_0_md{ margin-top: 0 }
    .pl_0_md{ margin-left: 0 }
    .pb_0_md{ margin-bottom: 0 }
    .pr_0_md{ margin-right: 0 }
    .px_0_md{ margin-left: 0; margin-right: 0 }
    .py_0_md{ margin-top: 0; margin-bottom: 0 }

    .mm_0_md{ margin: 0 }
    .mt_0_md{ margin-top: 0 }
    .ml_0_md{ margin-left: 0 }
    .mb_0_md{ margin-bottom: 0}
    .mr_0_md{ margin-right: 0 }
    .mx_0_md{ margin-left: 0; margin-right: 0 }
    .my_0_md{ margin-top: 0; margin-bottom: 0 }

    .mm_1_md{ margin: 1.55% }
    .mt_1_md{ margin-top: 1.55%}
    .ml_1_md{ margin-left: 1.55% }
    .mb_1_md{ margin-bottom: 1.55%}
    .mr_1_md{ margin-right: 1.55% }
    .mx_1_md{ margin-left: 1.55%; margin-right: 1.55% }
    .my_1_md{ margin-top: 1.55%; margin-bottom: 1.55% }

    .pp_1_md{ padding: 1.55% }
    .pt_1_md{ padding-top: 1.55%}
    .pl_1_md{ padding-left: 1.55% }
    .pb_1_md{ padding-bottom: 1.55%}
    .pr_1_md{ padding-right: 1.55% }
    .px_1_md{ padding-left: 1.55%; padding-right: 1.55% }
    .py_1_md{ padding-top: 1.55%; padding-bottom: 1.55% }

    .mm_2_md{ margin: 3.10% }
    .mt_2_md{ margin-top: 3.10% }
    .ml_2_md{ margin-left: 3.10% }
    .mb_2_md{ margin-bottom: 3.10%}
    .mr_2_md{ margin-right: 3.10% }
    .mx_2_md{ margin-left: 3.10%; margin-right: 3.10% }
    .my_2_md{ margin-top: 3.10%; margin-bottom: 3.10% }

    .pp_2_md{ padding: 3.10% }
    .pt_2_md{ padding-top: 3.10%}
    .pl_2_md{ padding-left: 3.10% }
    .pb_2_md{ padding-bottom: 3.10%}
    .pr_2_md{ padding-right: 3.10% }
    .px_2_md{ padding-left: 3.10%; padding-right: 3.10% }
    .py_2_md{ padding-top: 3.10%; padding-bottom: 3.10% }

    .mm_3_md{ margin: 4.65% }
    .mt_3_md{ margin-top: 4.65% }
    .ml_3_md{ margin-left: 4.65% }
    .mb_3_md{ margin-bottom: 4.65%}
    .mr_3_md{ margin-right: 4.65% }
    .mx_3_md{ margin-left: 4.65%; margin-right: 4.65% }
    .my_3_md{ margin-top: 4.65%; margin-bottom: 4.65% }

    .pp_3_md{ padding: 4.65% }
    .pt_3_md{ padding-top: 4.65%}
    .pl_3_md{ padding-left: 4.65% }
    .pb_3_md{ padding-bottom: 4.65%}
    .pr_3_md{ padding-right: 4.65% }
    .px_3_md{ padding-left: 4.65%; padding-right: 4.65% }
    .py_3_md{ padding-top: 4.65%; padding-bottom: 4.65% }

    .mm_5_md{ margin: 7.75%  }
    .mt_5_md{ margin-top: 7.75% }
    .ml_5_md{ margin-left: 7.75%  }
    .mb_5_md{ margin-bottom: 7.75% }
    .mr_5_md{ margin-right: 7.75%  }
    .mx_5_md{ margin-left: 7.75% ; margin-right: 7.75%  }
    .my_5_md{ margin-top: 7.75% ; margin-bottom: 7.75%  }

    .pp_5_md{ padding: 7.75%  }
    .pt_5_md{ padding-top: 7.75% }
    .pl_5_md{ padding-left: 7.75%  }
    .pb_5_md{ padding-bottom: 7.75% }
    .pr_5_md{ padding-right: 7.75%  }
    .px_5_md{ padding-left: 7.75% ; padding-right: 7.75%  }
    .py_5_md{ padding-top: 7.75% ; padding-bottom: 7.75%  }

    .mt_15_md{ margin-top: 15px}
    .mb_15_md{ margin-bottom: 15px}
    .pt_15_md{ padding-top: 15px}
    .pb_15_md{ padding-bottom: 15px}

    .mt_20_md{ margin-top: 20px}
    .mb_20_md{ margin-bottom: 20px}
    .pt_20_md{ padding-top: 20px}
    .pb_20_md{ padding-bottom: 20px}

    .mt_30_md{ margin-top: 30px}
    .mb_30_md{ margin-bottom: 30px}
    .pt_30_md{ padding-top: 30px}
    .pb_30_md{ padding-bottom: 30px}

    .mt_40_md{ margin-top: 40px }
    .mb_40_md{ margin-bottom: 40px }
    .pt_40_md{ padding-top: 40px }
    .pb_40_md{ padding-bottom: 40px }

    .mt_50_md{ margin-top: 50px }
    .mb_50_md{ margin-bottom: 50px }
    .pt_50_md{ padding-top: 50px }
    .pb_50_md{ padding-bottom: 50px }

    .mt_100_md{ margin-top: 100px }
    .mb_100_md{ margin-bottom: 100px }
    .pt_100_md{ padding-top: 100px }
    .pb_100_md{ padding-bottom: 100px }

    .mt_200_md{ margin-top: 200px }
    .mb_200_md{ margin-bottom: 200px }
    .pt_200_md{ padding-top: 200px }
    .pb_200_md{ padding-bottom: 200px }

    .mt_300_md{ margin-top: 300px }
    .mb_300_md{ margin-bottom: 300px }
    .pt_300_md{ padding-top: 300px }
    .pb_300_md{ padding-bottom: 300px }

    .tx_c_md{text-align: center !important}
    .tx_l_md{text-align: left !important}
    .tx_r_md{text-align: right !important}
    .tx_j_md{text-align: justify !important}

    .tx_lc_md{text-transform: lowercase !important}
    .tx_uc_md{text-transform: uppercase !important}
    .tx_cp_md{text-transform: capitalize !important}
    .tx_tr_no{text-transition: none}

    .tx_mr_md{font-size: 0.625em }
    .tx_sm_md{font-size: 0.75em }
    .tx_md_md{font-size: 1em}
    .tx_lg_md{ font-size: 1.25em}
    .tx_xlg_md{font-size: 2.25em}

    .bold_md{ font-weight: bold}
    .italic_md{font-style: italic}
    .bold_none_md{ font-weight: normal}
    .italic_none_md{font-style: normal}
    .underline_md{text-decoration: underline}
    .decoration_none_md{text-decoration: none}
    .overline_md{text-decoration: overline}

    .tx_prm_md, .lk_prm_md{ color: var(--prm)}
    .tx_scn_md, .lk_scn_md{color:var(--scn)}
    .tx_lgt_md, .lk_lgt_md{color: #f6f6f6}
    .tx_stn_md, .lk_stn_md{color: #ccc}

    .tx_hv_prm_md:hover, .lk_prm_md:hover{ color: var(--prm)}
    .tx_hv_scn_md:hover, .lk_scn_md:hover{color:var(--hv_scn)}
    .tx_hv_lgt_md:hover, .lk_lgt_md:hover{color: #d6d6d6}
    .tx_hv_stn_md:hover, .lk_stn_md:hover{color: #000} 
}

@media only screen and (max-width: 500px)
{
    .gr_sm_block, .gr_sm_show{ display: block }
    .gr_sm_none,  .gr_sm_hide{ display: none}

    .gr_sm_3   { width: 23.44% }
    .gr_sm_4   { width: 31.77% }
    .gr_sm_6   { width: 48.45% }
    .gr_sm_8   { width: 65.09% }
    .gr_sm_12  { width: 100%; float: left; clear: both }
    .row_fluid .gr_sm_12  { width: 98.45%; float: left; clear: both }

    .pp_0_ms{ margin: 0 }
    .pt_0_ms{ margin-top: 0 }
    .pl_0_ms{ margin-left: 0 }
    .pb_0_ms{ margin-bottom: 0 }
    .pr_0_ms{ margin-right: 0 }
    .px_0_ms{ margin-left: 0; margin-right: 0 }
    .py_0_ms{ margin-top: 0; margin-bottom: 0 }

    .mm_0_ms{ margin: 0 }
    .mt_0_ms{ margin-top: 0 }
    .ml_0_ms{ margin-left: 0 }
    .mb_0_ms{ margin-bottom: 0}
    .mr_0_ms{ margin-right: 0 }
    .mx_0_ms{ margin-left: 0; margin-right: 0 }
    .my_0_ms{ margin-top: 0; margin-bottom: 0 }

    .mm_1_ms{ margin: 1.55% }
    .mt_1_ms{ margin-top: 1.55% }
    .ml_1_ms{ margin-left: 1.55% }
    .mb_1_ms{ margin-bottom: 1.55%}
    .mr_1_ms{ margin-right: 1.55% }
    .mx_1_ms{ margin-left: 1.55%; margin-right: 1.55% }
    .my_1_ms{ margin-top: 1.55%; margin-bottom: 1.55% }

    .pp_1_ms{ padding: 1.55% }
    .pt_1_ms{ padding-top: 1.55%}
    .pl_1_ms{ padding-left: 1.55% }
    .pb_1_ms{ padding-bottom: 1.55%}
    .pr_1_ms{ padding-right: 1.55% }
    .px_1_ms{ padding-left: 1.55%; padding-right: 1.55% }
    .py_1_ms{ padding-top: 1.55%; padding-bottom: 1.55% }

    .mm_2_ms{ margin: 3.10% }
    .mt_2_ms{ margin-top: 3.10% }
    .ml_2_ms{ margin-left: 3.10% }
    .mb_2_ms{ margin-bottom: 3.10%}
    .mr_2_ms{ margin-right: 3.10% }
    .mx_2_ms{ margin-left: 3.10%; margin-right: 3.10% }
    .my_2_ms{ margin-top: 3.10%; margin-bottom: 3.10% }

    .pp_2_ms{ padding: 3.10% }
    .pt_2_ms{ padding-top: 3.10%}
    .pl_2_ms{ padding-left: 3.10% }
    .pb_2_ms{ padding-bottom: 3.10%}
    .pr_2_ms{ padding-right: 3.10% }
    .px_2_ms{ padding-left: 3.10%; padding-right: 3.10% }
    .py_2_ms{ padding-top: 3.10%; padding-bottom: 3.10% }

    .mm_3_ms{ margin: 4.65% }
    .mt_3_ms{ margin-top: 4.65% }
    .ml_3_ms{ margin-left: 4.65% }
    .mb_3_ms{ margin-bottom: 4.65%}
    .mr_3_ms{ margin-right: 4.65% }
    .mx_3_ms{ margin-left: 4.65%; margin-right: 4.65% }
    .my_3_ms{ margin-top: 4.65%; margin-bottom: 4.65% }

    .pp_3_ms{ padding: 4.65% }
    .pt_3_ms{ padding-top: 4.65%}
    .pl_3_ms{ padding-left: 4.65% }
    .pb_3_ms{ padding-bottom: 4.65%}
    .pr_3_ms{ padding-right: 4.65% }
    .px_3_ms{ padding-left: 4.65%; padding-right: 4.65% }
    .py_3_ms{ padding-top: 4.65%; padding-bottom: 4.65% }

    .mm_5_ms{ margin: 7.75%  }
    .mt_5_ms{ margin-top: 7.75% }
    .ml_5_ms{ margin-left: 7.75%  }
    .mb_5_ms{ margin-bottom: 7.75% }
    .mr_5_ms{ margin-right: 7.75%  }
    .mx_5_ms{ margin-left: 7.75% ; margin-right: 7.75%  }
    .my_5_ms{ margin-top: 7.75% ; margin-bottom: 7.75%  }

    .pp_5_ms{ padding: 7.75%  }
    .pt_5_ms{ padding-top: 7.75% }
    .pl_5_ms{ padding-left: 7.75%  }
    .pb_5_ms{ padding-bottom: 7.75% }
    .pr_5_ms{ padding-right: 7.75%  }
    .px_5_ms{ padding-left: 7.75% ; padding-right: 7.75%  }
    .py_5_ms{ padding-top: 7.75% ; padding-bottom: 7.75%  }

    .mt_15_sm{ margin-top: 15px}
    .mb_15_sm{ margin-bottom: 15px}
    .pt_15_sm{ padding-top: 15px}
    .pb_15_sm{ padding-bottom: 15px}

    .mt_20_sm{ margin-top: 20px}
    .mb_20_sm{ margin-bottom: 20px}
    .pt_20_sm{ padding-top: 20px}
    .pb_20_sm{ padding-bottom: 20px}

    .mt_30_sm{ margin-top: 30px}
    .mb_30_sm{ margin-bottom: 30px}
    .pt_30_sm{ padding-top: 30px}
    .pb_30_sm{ padding-bottom: 30px}

    .mt_40_sm{ margin-top: 40px }
    .mb_40_sm{ margin-bottom: 40px }
    .pt_40_sm{ padding-top: 40px }
    .pb_40_sm{ padding-bottom: 40px }

    .mt_50_sm{ margin-top: 50px }
    .mb_50_sm{ margin-bottom: 50px }
    .pt_50_sm{ padding-top: 50px }
    .pb_50_sm{ padding-bottom: 50px }

    .mt_100_sm{ margin-top: 100px }
    .mb_100_sm{ margin-bottom: 100px }
    .pt_100_sm{ padding-top: 100px }
    .pb_100_sm{ padding-bottom: 100px }

    .mt_200_sm{ margin-top: 200px }
    .mb_200_sm{ margin-bottom: 200px }
    .pt_200_sm{ padding-top: 200px }
    .pb_200_sm{ padding-bottom: 200px }

    .mt_300_sm{ margin-top: 300px }
    .mb_300_sm{ margin-bottom: 300px }
    .pt_300_sm{ padding-top: 300px }
    .pb_300_sm{ padding-bottom: 300px }

    .tx_c_sm{text-align: center !important}
    .tx_l_sm{text-align: left !important}
    .tx_r_sm{text-align: right !important}
    .tx_j_sm{text-align: justify !important}

    .tx_lowercase_sm{text-transform: lowercase !important}
    .tx_uppercase_sm{text-transform: uppercase !important}
    .tx_capitalize_sm{text-transform: capitalize !important}
    .tx_transform_none{text-transition: none}

    .tx_mr_sm{font-size: 0.625em }
    .tx_sma_sm{font-size: 0.75em }
    .tx_md_sm{font-size: 1em}
    .tx_lg_sm{ font-size: 1.25em}
    .tx_xlg_sm{font-size: 2.25em}

    .tx_b_sm{ font-weight: bold}
    .tx_i_sm{font-style: italic}
    .tx_b_no_sm{ font-weight: normal}
    .tx_i_no_sm{font-style: normal}
    .tx_u_sm{text-decoration: underline}
    .tx_d_no_sm{text-decoration: none}
    .tx_o_sm{text-decoration: overline}

    .tx_prm_sm, .lk_prm_sm{ color: var(--prm)}
    .tx_scn_sm, .lk_scn_sm{color:var(--scn)}
    .tx_lgt_sm, .lk_lgt_sm{color: #f6f6f6}
    .tx_stn_sm, .lk_stn_sm{color: #ccc}

    .tx_hv_prm_sm:hover, .lk_prm_sm:hover{ color: var(--prm)}
    .tx_hv_scn_sm:hover, .lk_scn_sm:hover{color:var(--hv_scn)}
    .tx_hv_lgt_sm:hover, .lk_lgt_sm:hover{color: #d6d6d6}
    .tx_hv_stn_sm:hover, .lk_stn_sm:hover{color: #000} 
}

@media (min-width: 1221px) 
{
    .container, .gr_12{ width: 1196px}
    .container {
        margin-left: auto; margin-right: auto
    }
}

.tx_c { text-align: center}
.tx_l { text-align: left}
.tx_r { text-align: right }
.tx_j { text-align: justify}

.tx_lc{text-transform: lowercase}
.tx_uc{text-transform: uppercase}
.tx_cp{text-transform: capitalize}

.tx_mr{font-size: 0.625em }
.tx_sm{font-size: 0.75em }
.tx_md{font-size: 1em}
.tx_lg{ font-size: 1.25em}
.tx_xlg{font-size: 2.25em}

.tx_b{ font-weight: bold}
.tx_i{font-style: italic}
.tx_u{text-decoration: underline}
.tx_d_no{text-decoration: none}
.tx_o{text-decoration: overline}

.fl_c{
    float: none !important; 
    margin-left: auto !important; 
    margin-right: auto !important;
    clear: both !important
}

.fl_l{ float: left !important}
.fl_r{ float: right !important}
.fl_n{ float: none !important}

.pp_0{ margin: 0 }
.pt_0{ margin-top: 0 }
.pl_0{ margin-left: 0 } 
.pb_0{ margin-bottom: 0 }
.pr_0{ margin-right: 0 }
.px_0{ margin-left: 0; margin-right: 0 }
.py_0{ margin-top: 0; margin-bottom: 0 }

.mm_0{ margin: 0 }
.mt_0{ margin-top: 0 }
.ml_0{ margin-left: 0 }
.mb_0{ margin-bottom: 0}
.mr_0{ margin-right: 0 }
.mx_0{ margin-left: 0; margin-right: 0 }
.my_0{ margin-top: 0; margin-bottom: 0 }

.mm_1{ margin: 1.55% }
.mt_1{ margin-top: 1.55% }
.ml_1{ margin-left: 1.55% }
.mb_1{ margin-bottom: 1.55%}
.mr_1{ margin-right: 1.55% }
.mx_1{ margin-left: 1.55%; margin-right: 1.55% }
.my_1{ margin-top: 1.55%; margin-bottom: 1.55% }

.pp_1{ padding: 1.55% }
.pt_1{ padding-top: 1.55%}
.pl_1{ padding-left: 1.55% }
.pb_1{ padding-bottom: 1.55% }
.pr_1{ padding-right: 1.55% }
.px_1{ padding-left: 1.55%; padding-right: 1.55% }
.py_1{ padding-top: 1.55%; padding-bottom: 1.55% }

.mm_2{ margin: 3.10% }
.mt_2{ margin-top: 3.10% }
.ml_2{ margin-left: 3.10% }
.mb_2{ margin-bottom: 3.10%}
.mr_2{ margin-right: 3.10% }
.mx_2{ margin-left: 3.10%; margin-right: 3.10% }
.my_2{ margin-top: 3.10%; margin-bottom: 3.10% }

.pp_2{ padding: 3.10% }
.pt_2{ padding-top: 3.10%}
.pl_2{ padding-left: 3.10%  }
.pb_2{ padding-bottom: 3.10%}
.pr_2{ padding-right: 3.10% }
.px_2{ padding-left: 3.10%; padding-right: 3.10% }
.py_2{ padding-top: 3.10%; padding-bottom: 3.10% }

.mm_3{ margin: 4.65% }
.mt_3{ margin-top: 4.65% }
.ml_3{ margin-left: 4.65% }
.mb_3{ margin-bottom: 4.65%}
.mr_3{ margin-right: 4.65% }
.mx_3{ margin-left: 4.65%; margin-right: 4.65% }
.my_3{ margin-top: 4.65%; margin-bottom: 4.65% }

.pp_3{ padding: 4.65% }
.pt_3{ padding-top: 4.65%}
.pl_3{ padding-left: 4.65% }
.pb_3{ padding-bottom: 4.65%}
.pr_3{ padding-right: 4.65% }
.px_3{ padding-left: 4.65%; padding-right: 4.65% }
.py_3{ padding-top: 4.65%; padding-bottom: 4.65% }

.mm_5{ margin: 7.75%  }
.mt_5{ margin-top: 7.75% }
.ml_5{ margin-left: 7.75%  }
.mb_5{ margin-bottom: 7.75% }
.mr_5{ margin-right: 7.75%  }
.mx_5{ margin-left: 7.75% ; margin-right: 7.75%  }
.my_5{ margin-top: 7.75% ; margin-bottom: 7.75%  }

.pp_5{ padding: 7.75%  }
.pt_5{ padding-top: 7.75% }
.pl_5{ padding-left: 7.75%  }
.pb_5{ padding-bottom: 7.75% }
.pr_5{ padding-right: 7.75%  }
.px_5{ padding-left: 7.75% ; padding-right: 7.75%  }
.py_5{ padding-top: 7.75% ; padding-bottom: 7.75%  }

.mt_15{ margin-top: 15px}
.mb_15{ margin-bottom: 15px}
.pt_15{ padding-top: 15px}
.pb_15{ padding-bottom: 15px}

.mt_20{ margin-top: 20px}
.mb_20{ margin-bottom: 20px}
.pt_20{ padding-top: 20px}
.pb_20{ padding-bottom: 20px}

.mt_30{ margin-top: 30px}
.mb_30{ margin-bottom: 30px}
.pt_30{ padding-top: 30px}
.pb_30{ padding-bottom: 30px}

.mt_40{ margin-top: 40px }
.mb_40{ margin-bottom: 40px }
.pt_40{ padding-top: 40px }
.pb_40{ padding-bottom: 40px }

.mt_50{ margin-top: 50px }
.mb_50{ margin-bottom: 50px }
.pt_50{ padding-top: 50px }
.pb_50{ padding-bottom: 50px }

.mt_100{ margin-top: 100px }
.mb_100{ margin-bottom: 100px }
.pt_100{ padding-top: 100px }
.pb_100{ padding-bottom: 100px }

.mt_200{ margin-top: 200px }
.mb_200{ margin-bottom: 200px }
.pt_200{ padding-top: 200px }
.pb_200{ padding-bottom: 200px }

.mt_300{ margin-top: 300px }
.mb_300{ margin-bottom: 300px }
.pt_300{ padding-top: 300px }
.pb_300{ padding-bottom: 300px }

.expand{
    width: 100% !important;
    margin-left: 0; margin-right: 0; 
    padding: 0;
    float: left; clear: both
}

.expand_auto{ width: auto !important }

.tb, .tb_hv,.tb_border,
.tb_striped{margin:2px; border-collapse:collapse}
.tb th,.tb_hv th,
.tb_border th,
.tb_striped th{
    color:#444;
    background:#fff;
    text-align:left;
    font-weight:bold;
    padding:10px 5px
}

.tb td,
.tb_hv td,
.tb_border td, .tb_striped td{
    color:#444;
    background:#fff;
    padding:10px 5px
}

.tb_tr_hv td{background:#edeaea}
.tb_tr_off td{background:#fff}

.tb_border th{
    color: #444;
    background: #fff;
    text-align: left;
    font-weight: bold;
    padding: 10px 5px
}

.tb_border td{
    color: #444;
    background: #fff;
    padding: 10px 5px
}

.tb_border th,
.tb_border td{ border: 1px solid #ededed }

.tb_striped tbody >tr:nth-child(2n+1) >td,
.tb_fill tr td, .tb_tr_on td,
.tb_hv tr:hover td
{ background:#ededed}

.tb_fill{margin:2px; border-collapse:collapse}
.tb_fill th{
    color: #444;
    background: #fff;
    font-weight: bold;
    text-align: left;
    padding: 10px 5px
}

.tb_fill td{
    color: #444;
    background: #fff;
    padding: 10px 5px;
    border-bottom: 10px solid #fff 
    }
.tb_fill tr{margin-bottom: 10px}

.tb_prm tr td, .tb_hv_prm tr:hover td{ background: var(--prm) }
.tb_scn tr td, .tb_hv_scn tr:hover td{ background: var(--scn) }
.tb_lgt tr td, .tb_hv_lgt tr:hover td{ background: #f6f6f6 }
.tb_stn tr td, .tb_hv_stn tr:hover td{ background: #ccc }

.tb_prm tr td, .tb_hv_prm tr:hover td,
.tb_scn tr td, .tb_hv_scn tr:hover td{ color: #ccc }

.lt_x li, .lt_x dd{
    float: left;
    display: inline;
    padding: 0 5px 0 0
}

.lt_y li, .lt_y dd{padding:0 0 5px 0}
.lt_y.lt_y_dropdown li ul{
    display: none;
    position: absolute;
    z-index: 500

}

.lt_y.lt_y_dropdown ul li{
    width: 100%;
    top: auto;
    left: 0;
    right: auto;
    text-align: left;
    opacity: 1;
    padding: 0;
    position: relative
}

.lt_y.lt_y_dropdown li:hover ul{
    display: block
}

.lt_y.lt_y_dropdown ul a{
    display: block;
    padding: 5px 10px;
    background: #f8f8f8
}

.lt_y.lt_y_dropdown ul a:hover{
    background: #ccc
}

input[id="mn_x_bt"]{ display: none }

label[for="mn_x_bt"]{
    width: 60px;
    text-align: center;
    display: none;
    padding: 5px 15px;
    font-size: 30px;
    cursor: pointer
}

label[for="mn_x_bt"]:hover{ background: rgba(50, 50, 50, 0.12) }

.mn_x,
.mn_x ul,
.mn_x ul li,
.mn_x ul li a,
.mn_x .mn_bt {
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0 none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.mn_x:after,
.mn_x > ul:after {
    height: 0;
    line-height: 0;
    content: ".";
    clear: both;
    visibility: hidden;
    display: block
}

.mn_x .mn_bt { display: none }
.mn_x { width: auto; background: #fff }
.mn_x.fl_r > ul > li { float: right }
.mn_x > ul > li { float: left; display: inline-block }
.mn_x.fl_c > ul      { float: none; text-align: center }
.mn_x.fl_c > ul > li { float: none } 
.mn_x.fl_c ul ul     { text-align: left }
.mn_x > ul > li.text, .mn_x > ul > li > a {
    padding: 18px 25px 21px 25px;
    border-right: 1px solid rgba(80, 80, 80, 0.12);
    text-decoration: none;
    font-size: 14px;
    color: #444;
    letter-spacing: 1px
}

.mn_x > ul > li:hover > a, 
.mn_x > ul > li > a:hover, 
.mn_x > ul > li.current > a {
    color: #000;
    background: #ccc
}

.mn_x > ul > li.has_sub > a {
    padding-right: 45px
}

.mn_x > ul > li.has_sub > a::after {
    width: 0;
    height: 0;
    top: 22px;
    right: 17px;
    content: "";
    border: 6px solid transparent;
    border-top-color: #ccc;
    position: absolute
}

.mn_x > ul > li.has_sub.current > a::after,
.mn_x > ul > li.has_sub:hover > a {
    border-top-color: #000
}

.mn_x ul ul {
    position: absolute;
    z-index: 1000;
    left: -9999px;
    top: 60px;
    padding-top: 6px;
    font-size: 14px;
    opacity: 0;

    -webkit-transition: top 0.4s ease, opacity 0.4s ease-in;
    -moz-transition: top 0.4s ease, opacity 0.4s ease-in;
    -ms-transition: top 0.4s ease, opacity 0.4s ease-in;
    -o-transition: top 0.4s ease, opacity 0.4s ease-in;
    transition: top 0.4s ease, opacity 0.4s ease-in
}

.mn_x.fl_r ul ul { text-align: right }
.mn_x > ul > li > ul::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #fff;
    top: -4px;
    left: 20px
}

.mn_x.fl_r > ul > li > ul::after {
    left: auto; right: 20px
}

.mn_x ul ul ul::after {
    top: 11px;
    left: -4px;
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #fff;
    position: absolute
}

.mn_x.fl_r ul ul ul::after {
    left: auto;
    right: -4px;
    border-right-color: transparent;
    border-left-color: #fff
}
.mn_x > ul > li > ul {
    top: 120px
}

.mn_x > ul > li:hover > ul { top: 52px; left: 0; opacity: 1 }
.mn_x.fl_r > ul > li:hover > ul { left: auto; right: 0 }
.mn_x ul ul ul { padding-top: 0; padding-left: 6px }

.mn_x.fl_r ul ul ul { padding-right: 6px }
.mn_x ul ul > li:hover > ul {
    left: 280px;
    top: 0;
    opacity: 1
}

.mn_x.fl_r ul ul > li:hover > ul {
    left: auto;
    right: 100%;
    opacity: 1
}

.mn_x ul ul li a {
    width: 280px;
    color: #777;
    background: #f8f8f8;
    text-decoration: none;
    padding: 11px 25px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 
    1px 1px 1px rgba(0, 0, 0, 0.1),
    -1px 1px 1px rgba(0, 0, 0, 0.1)
}

.mn_x ul ul li:hover > a,
.mn_x ul ul li.current > a {
    color: #2C3E50
}

.mn_x ul ul li:first_child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.mn_x ul ul li:last_child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}

.mn_x > ul > li > ul::after {
    position: absolute;
    display: block
}

.mn_x ul ul li.has_sub > a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left-color: #777777;
    right: 17px;
    top: 14px
}

.mn_x.fl_r ul ul li.has_sub > a::after {
    border-left-color: transparent;
    border-right-color: #777;
    right: auto;
    left: 17px
}

.mn_x ul ul li.has_sub.current > a::after,
.mn_x ul ul li.has_sub:hover > a::after {
    border-left-color: #2C3E50
}

.mn_x.fl_r ul ul li.has_sub.current > a::after,
.mn_x.fl_r ul ul li.has_sub:hover > a::after {
    border-right-color: #2C3E50;
    border-left-color: transparent
}

.mn_x.mn_prm { background: var(--prm) }

.mn_x.mn_prm > ul > li.text,
.mn_x.mn_prm > ul > li > a {
    color: #ccc
}

.mn_x.mn_prm > ul > li:hover > a,
.mn_x.mn_prm > ul > li.current > a {
    color: #fff; background: var(--hv_prm)
}

.mn_x.mn_prm > ul > li.has_sub > a::after,
.mn_x.mn_prm > ul > li.has_sub > a {
    border-top-color: #666
}

.mn_x.mn_prm > ul > li.has_sub.current > a::after,
.mn_x.mn_prm > ul > li.has_sub:hover > a {
    border-top-color: #fff
}

.mn_x.mn_scn { background: var(--scn) }

.mn_x.mn_scn > ul > li.text,
.mn_x.mn_scn > ul > li > a {
    color: #ccc
}

.mn_x.mn_scn > ul > li:hover > a,
.mn_x.mn_scn > ul > li.current > a {
    color: #fff; background: var(--hv_scn)
}

.mn_x.mn_scn > ul > li.has_sub > a::after,
.mn_x.mn_scn > ul > li.has_sub > a {
    border-top-color: #666
}

.mn_x.mn_scn > ul > li.has_sub.current > a::after,
.mn_x.mn_scn > ul > li.has_sub:hover > a {
    border-top-color: #fff
}

.mn_x.mn_stn { background: #ccc }

.mn_x.mn_stn > ul > li.text,
.mn_x.mn_stn > ul > li > a {
    color: #444
}

.mn_x.mn_stn > ul > li:hover > a,
.mn_x.mn_stn > ul > li.current > a {
    color: #000; background: #afafaf
}

.mn_x.mn_stn > ul > li.has_sub > a::after,
.mn_x.mn_stn > ul > li.has_sub > a {
    border-top-color: #666
}

.mn_x.mn_stn > ul > li.has_sub.current > a::after,
.mn_x.mn_stn > ul > li.has_sub:hover > a {
    border-top-color: #fff
}

.mn_x.mn_lgt { background: #f6f6f6 }
.mn_x.mn_lgt > ul > li.text,
.mn_x.mn_lgt > ul > li > a {
    color: #444
}

.mn_x.mn_lgt > ul > li:hover > a,
.mn_x.mn_lgt > ul > li.current > a {
    color: #000; background: #d6d6d6
}

.mn_x.mn_lgt > ul > li.has_sub > a::after,
.mn_x.mn_lgt > ul > li.has_sub > a {
    border-top-color: #666
}

.mn_x.mn_lgt > ul > li.has_sub.current > a::after,
.mn_x.mn_lgt > ul > li.has_sub:hover > a {
    border-top-color: #fff
}

.mn_x.mn_hv_prm > ul > li:hover > a,
.mn_x.mn_hv_prm > ul > li.current > a ,

.mn_x.mn_scn.mn_hv_prm > ul > li:hover > a,
.mn_x.mn_scn.mn_hv_prm > ul > li.current > a ,

.mn_x.mn_stn.mn_hv_prm > ul > li:hover > a,
.mn_x.mn_stn.mn_hv_prm > ul > li.current > a ,

.mn_x.mn_lgt.mn_hv_prm > ul > li:hover > a,
.mn_x.mn_lgt.mn_hv_prm > ul > li.current > a 
{ color: #fff; background: var(--prm) }

.mn_x.mn_hv_scn > ul > li:hover > a,
.mn_x.mn_hv_scn > ul > li.current > a ,

.mn_x.mn_prm.mn_hv_scn > ul > li:hover > a,
.mn_x.mn_prm.mn_hv_scn > ul > li.current > a ,

.mn_x.mn_stn.mn_hv_scn > ul > li:hover > a,
.mn_x.mn_stn.mn_hv_scn > ul > li.current > a ,

.mn_x.mn_lgt.mn_hv_scn > ul > li:hover > a,
.mn_x.mn_lgt.mn_hv_scn > ul > li.current > a 
{ color: #fff; background: var(--scn) }

.mn_x.mn_hv_lgt > ul > li:hover > a,
.mn_x.mn_hv_lgt > ul > li.current > a ,

.mn_x.mn_prm.mn_hv_lgt > ul > li:hover > a,
.mn_x.mn_prm.mn_hv_lgt > ul > li.current > a ,

.mn_x.mn_stn.mn_hv_lgt > ul > li:hover > a,
.mn_x.mn_stn.mn_hv_lgt > ul > li.current > a ,

.mn_x.mn_scn.mn_hv_lgt > ul > li:hover > a,
.mn_x.mn_scn.mn_hv_lgt > ul > li.current > a 
{ color: #000; background: #f6f6f6 }

.mn_x.mn_hv_stn > ul > li:hover > a,
.mn_x.mn_hv_stn > ul > li.current > a ,

.mn_x.mn_prm.mn_hv_stn > ul > li:hover > a,
.mn_x.mn_prm.mn_hv_stn > ul > li.current > a ,

.mn_x.mn_scn.mn_hv_stn > ul > li:hover > a,
.mn_x.mn_scn.mn_hv_stn > ul > li.current > a ,

.mn_x.mn_lgt.mn_hv_stn > ul > li:hover > a,
.mn_x.mn_lgt.mn_hv_stn > ul > li.current > a 
{ color: #000; background: #ccc }

.mn_y{ width: 100% }
.mn_y ul{margin: 0; padding:0}
.mn_y li{list-style-type: none}

.mn_y a, .mn_y label{
   width: 100%;
   color: #444;
   font-size: 14px;
   font-weight: bold;
   background: #fff;
   padding: 15px 20px;
   text-decoration: none;
   border-bottom: 1px solid rgba(0,0,0, .2);
   display: block
}

.mn_y label{cursor: pointer}

.mn_y a:hover, .mn_y label:hover{
    background: #ccc
}

.mn_y ul a, .mn_y ul label { 
    font-weight: normal;
    background: #e5e5e5 
}

.mn_y ul a, .mn_y ul label{ 
    background: #e5e5e5;
    border-left: 5px solid transparent
}

.mn_y ul a:hover, .mn_y ul label:hover { 
   background: #e5e5e5;
   border-left: 5px solid #666
}

.mn_y ul {
    height: 100%;
    max-height: 0;
    overflow: hidden;

  -webkit-transition: max-height .5s ease-in-out;
  transition: max-height .5s ease-in-out
}

.mn_y input[type=checkbox]:checked + label + ul { 
max-height: 1000px
}

.mn_y label::after {
    display: block; content: "";
    width: 5px; height: 5px;
    top: 11.5px; right: 20px;
    z-index: 10; float: right;
    border-top: 2px solid rgba(0,0,0, .5);
    border-left: 2px solid rgba(0,0,0, .5);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.mn_y.mn_stn a, .mn_y.mn_stn label{
   color: #444;
   background: #ccc
}

.mn_y.mn_stn a:hover, .mn_y.mn_stn label:hover{
    background: #afafaf
}

.mn_y.mn_prm a, .mn_y.mn_prm label{
   color: #fff;
   background: var(--prm)
}

.mn_y.mn_prm a:hover, .mn_y.mn_prm label:hover{
    background: var(--hv_prm)
}

.mn_y.mn_scn a, .mn_y.mn_scn label{
   color: #fff;
   background: var(--scn)
}

.mn_y.mn_scn a:hover, .mn_y.mn_scn label:hover{
    background: var(--hv_scn)
}

.mn_y.mn_stn ul a, .mn_y.mn_stn ul label , 
.mn_y.mn_prm ul a, .mn_y.mn_prm ul label , 
.mn_y.mn_scn ul a, .mn_y.mn_scn ul label,
.mn_y.mn_stn ul a:hover, .mn_y.mn_stn ul label:hover , 
.mn_y.mn_prm ul a:hover, .mn_y.mn_prm ul label:hover , 
.mn_y.mn_scn ul a:hover, .mn_y.mn_scn ul label:hover { 
    color: #444;
    background: #e5e5e5 
}

@media all and (max-width: 890px)
{ 
    label[for="mn_x_bt"]{
        display: block
    }

    #mn_x_bt:checked ~ .mn_x > ul {
        display: block
    }

    .mn_x > ul {
        display: none;
        border-top: 1px solid rgba(0, 0, 0, 0.1)
    }

.mn_sidebar li > ul > li:last-child > ul > li:last-child > a {
    border-bottom: 0
}

    .mn_x.fl_r > ul { float: none }
    .mn_x.fl_c > ul { text-align: left }
    .mn_x > ul > li, .mn_x.fl_r > ul > li {
        float: none; display: block
    }
    .mn_x > ul > li > a {
        padding: 18px 25px 18px 25px; border-right: 0
    }
    .mn_x > ul > li:hover > a,
    .mn_x > ul > li.current > a {
        color: #fff; background: #C1BFBF
    }

    .mn_x .mn_bt {
        display: block;
        text-decoration: none;
        font-size: 14px;
        color: #444;
        padding: 18px 25px 18px 25px;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer
    }

    .mn_x ul ul,
    .mn_x ul li:hover > ul,
    .mn_x > ul > li > ul,
    .mn_x ul ul ul,
    .mn_x ul ul li:hover > ul,
    .mn_x.fl_r ul ul,
    .mn_x.fl_r ul li:hover > ul,
    .mn_x.fl_r > ul > li > ul,
    .mn_x.fl_r ul ul ul,
    .mn_x.fl_r ul ul li:hover > ul {
        width: 100%;
        top: auto;
        left: 0;
        right: auto;
        opacity: 1;
        text-align: left;
        padding: 0;
        position: relative
    }

    .mn_x ul ul li { width: 100% }

    .mn_x ul ul li a {
        width: 100%;
        box-shadow: none;
        padding-left: 35px
    }

    .mn_x ul ul ul li a { padding-left: 45px }

    .mn_x ul ul li:first_child > a,
    .mn_x ul ul li:last_child > a {
        border-radius: 0
    }

    .mn_x .mn_bt::after {
        width: 22px;
        height: 3px;
        top: 18px;
        right: 25px;
        content: '';
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        display: block;
        position: absolute
    }

    .mn_x .mn_bt::before {
        width: 22px;
        height: 3px;
        top: 28px;
        right: 25px;
        display: block;
        content: '';
        position: absolute;
        border-top: 2px solid transparent
    }

    .mn_x .mn_bt,
    .mn_x .mn_bt::after ,
    .mn_x .mn_bt::before {
        color: #000; border-color: #000
    }

    .mn_x .mn_bt:hover{ color: #fff; background: #C1BFBF}

    .mn_x .mn_bt:hover::after,
    .mn_x .mn_bt:hover::before {
           border-color: #fff
    }

    .mn_x > ul > li.has_sub > a::after,
    .mn_x ul ul li.has_sub > a::after {
        display: none
    }

    .mn_x.mn_prm .mn_bt,
    .mn_x.mn_prm .mn_bt::after ,
    .mn_x.mn_prm .mn_bt::before {
        color: #ccc; border-color: #ccc
    }

    .mn_x.mn_prm .mn_bt:hover{ 
        color: #fff; background: var(--hv_prm)
    }

    .mn_x.mn_scn .mn_bt,
    .mn_x.mn_scn .mn_bt::after ,
    .mn_x.mn_scn .mn_bt::before {
        color: #ccc; border-color: #ccc
    }

    .mn_x.mn_scn .mn_bt:hover{ 
        color: #fff; background: var(--hv_scn)
    }

    .mn_x.mn_stn .mn_bt,
    .mn_x.mn_stn .mn_bt::after ,
    .mn_x.mn_stn .mn_bt::before {
        color: #444; border-color: #444 }

    .mn_x.mn_stn .mn_bt:hover{ 
        color: #000; background: #afafaf 
    }

    .mn_x.mn_lgt .mn_bt,
    .mn_x.mn_lgt .mn_bt::after ,
    .mn_x.mn_lgt .mn_bt::before {
        color: #444; border-color: #444
    }

    .mn_x.mn_lgt .mn_bt:hover{ 
        color: #000; background: #d6d6d6 
    }

		.tb_fluid thead { display: none }

		.tb_fluid tr {
          display: block;
          margin-top: 5px;
          padding-bottom: 15px
		}

		.tb_fluid td {
          display: block;
          text-align: right;
          font-size: 13px;
          margin-bottom:3px;
          min-height: 14px
        }

		.tb_fluid td:before {
          content: attr(colname);
          float: left;
          font-weight: bold
        }

}

.modal_content {
   width: 100%;
   float: left;
   z-index: 1500;
   position: absolute
}

.modal{
    width: 100%;
    height: 100vh;
    top:0; left:0;
    z-index: 1000;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4);
    position: fixed;
    overflow:auto
}

.wait {
    border: 5px solid #ccc;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    color: transparent;
    display: inline-block;
}

.wait_prm { border-color: var(--prm) }
.wait_scn { border-color: var(--scn }
.wait_lgt { border-color: #f6f6f6 }
.wait_stn { border-color: #ccc }

.wait_sm {
    width: 15px;
    height: 15px;
    border-width: 2px
}

.wait_md {
    width: 25px;
    height: 25px;
    border-width: 3px
}

.wait_lg {
    width: 48px;
    height: 48px;
}

@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

