/*
 *
 * ------------------------------------------------------
 * DobokCSS
 * ------------------------------------------------------
 *
 * project: https://github.com/dobokcss/dobokcss
 * page:    https://dobokcss.github.io
 * author:  Estefanio N Santos <estefanions AT gmail DOT com> 
 * version: 0.13.0
 */

body{ 
    color: #333; 
    background-color:#fff; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size: 1em
}

h1, h2, h3{margin-bottom: 15px}
h1{font-size: 2.5em}
h2{font-size: 2em}
h3{font-size: 1.5em}

fieldset{ border: 1px solid #ccc }

legend{ padding: 0 5px }


.pg_header{
    width: 100%;
    float: left;
    padding: 10px 0 20px;
    margin-bottom: 15px;
    clear: both
}

.fold{
    width: 100%;
    float: left;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-bottom: 25px
}

.pg_header .tagline{ color: #999 }

.xl_block, .xl_show, .block, .show{ display: block }
.xl_none,  .xl_hide, .hide, .none{ display: none}

.bd{border: 1px solid}

.bd_t_prm, .bd_t_scn, .bd_t_lgh, .bd_t_stn { 
    border-right: none 0; 
    border-bottom: none 0; 
    border-left: none 0
}


.bd_r_prm, .bd_r_scn, .bd_r_lgh, .bd_r_stn { 
    border-bottom: none 0; 
    border-left: none 0; 
    border-top: none 0
}

.bd_b_prm, .bd_b_scn, .bd_b_lgh, .bd_b_stn { 
    border-top: none 0;
    border-left: none 0; 
    border-right: none 0
}

.bd_l_prm, .bd_l_scn, .bd_l_lgh, .bd_l_stn { 
    border-top: none 0; 
    border-right: none 0; 
    border-bottom: none 0
}

.bd_prm, 
.bd_t_prm, .bd_r_prm, .bd_l_prm, .bd_b_prm,
.bd_t_prm_0, .bd_r_prm_0, .bd_l_prm_0, .bd_b_prm_0 { 
    border-color:  #607D8B 
}

.bd_t_scn, .bd_r_scn, .bd_l_scn, .bd_b_scn, .bd_t_scn_0,
.bd_r_scn_0, .bd_l_scn_0, .bd_b_scn_0 { 
    border-color:  #FF5252
}

.bd_t_lgh, .bd_r_lgh, .bd_l_lgh, .bd_b_lgh,
.bd_t_lgh_0, .bd_r_lgh_0, .bd_l_lgh_0, .bd_b_lgh_0 { 
    border-color:  #f6f6f6
}

.bd_prm, .bd_t_prm, .bd_r_prm, .bd_l_prm, .bd_b_prm,
.bd_t_prm_0, .bd_r_prm_0, .bd_l_prm_0, .bd_b_prm_0 { 
    border-color:  #607D8B 
}


.bd_prm, .bd_t_prm, .bd_r_prm, .bd_l_prm, .bd_b_prm,
.bd_t_prm_0, .bd_r_prm_0, .bd_l_prm_0, .bd_b_prm_0 { 
    border-color:  #607D8B 
}

.bd_stn, .bd_t_stn, .bd_r_stn, .bd_l_stn, .bd_b_stn,
.bd_t_stn_0, .bd_r_stn_0, .bd_l_stn_0, .bd_b_stn_0 { 
    border-color:  #ccc
}

.bd_y_prm, .bd_y_scn, .bd_y_lgh, .bd_y_stn { 
    border-left: 0 none; border-right: 0 none 
}

.bd_x_prm, .bd_x_scn, .bd_x_lgh, .bd_x_stn { 
    border-top: 0 none; border-bottom: 0 none 
}

.bd_t_prm_0, .bd_t_scn_0, .bd_t_lgh_0, .bd_t_stn_0{ 
    border-top: 0 none
}

.bd_r_prm_0, .bd_r_scn_0, .bd_r_lgh_0, .bd_r_stn_0{ 
    border-right: 0 none
}

.bd_b_prm_0, .bd_b_scn_0, .bd_b_lgh_0, .bd_b_stn_0 { 
    border-bottom: 0 none
}

.bd_l_prm_0, .bd_l_scn_0, .bd_l_lgh_0, .bd_l_stn_0{ 
    border-left: 0 none
}


.rd_circle{    
    -webkit-border-radius: 500%;
    -moz-border-radius: 500%;
    border-radius: 500%
}

.rd{    
    -webkit-border-radius:4px;    
    -moz-border-radius:4px;    
    border-radius:4px
}

.rd_polaroid{    
    background-color:#FFF;    
    border:1px solid rgba(0,0,0,0.2);    
    box-shadow:0 1px 3px rgba(0,0,0,0.1);    
    padding:4px
}

.rd_t{    
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.rd_r{    
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.rd_b{    
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

.rd_l{    
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.rd_t_r{
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
}

.rd_t_l{
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px
}

.rd_b_r{
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px
}

.rd_b_l{
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px
}

.rd_t_r_0{
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0
}

.rd_t_l_0{
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0
}

.rd_b_r_0{
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0
}

.rd_b_l_0{
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0
}

input, select, textarea{
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    padding: 8px 0 
}

input, select{
    min-height: 26px
}


.bt, input.bt, button.bt{
    width: auto;
    min-height: 45px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer


}

.bt, input, select, textarea, button{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.bt{ padding: 10px 15px 0 15px }

div.bt, span.bt, a.bt { 
    padding-top: 14px;
    padding-left: 37px;
    padding-right: 37px
}

input.bt, button.bt{ padding: 7px 35px }


input:focus, select:focus, textarea:focus {
    border-color: #607D8B;
    transition: 0.8s
}

.bt_prm, .bt_scn { color: #fff }
.bt_lgh {color: #000}

.bg_prm, .bt_prm{ background: #607D8B}
.bg_scn, .bt_scn{ background: #FF5252}
.bg_lgh, .bt_lgh{ background: #f6f6f6}
.bg, .bg_stn, .bt_stn{ color: #444; background: #d8d8d8 }

.bg_prm, .bg_scn{color: #f6f6f6 }

.bt_prm:hover {color: #fff; background: #40535b }
.bt_scn:hover {color: #fff; background: #c00 }
.bt_lgh:hover {color: #000; background: #d6d6d6 }
.bt_stn:hover {color: #000; background: #afafaf }

.bt_outline_stn , .bt_no_outline_stn , 
.bt_outline_prm  , .bt_no_outline_prm  , 
.bt_outline_scn, .bt_no_outline_scn { background: #fff }

.bt_outline_prm, .bt_no_outline_prm {color: #607D8B }
.bt_outline_scn, .bt_no_outline_scn {color: #FF5252 }
.bt_outline_stn, .bt_no_outline_stn {color: #888    }

.bt_outline_prm {border: 1px solid #607D8B !important }
.bt_outline_scn {border: 1px solid #FF5252 !important }
.bt_outline_stn {border: 1px solid #d8d8d8 !important }

.bt_outline_prm:hover, .bt_no_outline_prm:hover {color: #fff; background-color: #607D8B}
.bt_outline_scn:hover, .bt_no_outline_scn:hover {color: #fff; background-color: #FF5252}
.bt_outline_stn:hover, .bt_no_outline_stn:hover {color: #666; background-color: #d8d8d8}

.bt.bt_hv_prm:hover, .bg.bg_hv_prm:hover { color: #fff; background: #607D8B}
.bt.bt_hv_scn:hover, .bg.bg_hv_scn:hover { color: #fff; background: #FF5252}
.bt.bt_hv_lgh:hover, .bg.bg_hv_lgh:hover { color: #000; background: #f6f6f6}
.bt.bt_hv_stn:hover, .bg.bg_hv_stn:hover { color: #000; background: #d6d6d6}

.bg_alpha, .bg_alpha_hv:hover {
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4)
}

.bg_raw{background-color: transparent}

.pn{cursor: pointer}
.mv{cursor: move}
.hl{cursor: help}
.nl{cursor: not-allowed}

.row, .row_b_none { margin-left: -1.55%; margin-bottom: 0.775% }

.row:before, .row:after {display: table; content: ""}
.row:after {clear: both}

.lt_breadcrumb li::before{ content: '> '}

.lt_breadcrumb li:first-child::before { content: '' }

.lt_breadcrumb li{
    padding: 0 5px 0;
    display: inline;
    float: left
}

.lt_breadcrumb a { color: #09c  }
.lt_breadcrumb a:hover { color: #09a  }


.gd{
    float: left; 
    text-align: left;
    margin-left: 1.55%; 
    min-height: 1.55%; 
    line-height: 20px
}

.gd_field input, .gd_field select, .gd_field textarea,
.gd_input input, .gd_select select, .gd_textarea textarea ,
.gd_button button,
.gd_button input[type="submit"],
.gd_button input[type="button"] { 
    width: 100%; float: left
}


.gd button, .gd input[type="radio"],
.gd input[type="hidden"], .gd input[type="checkbox"],
.gd input[type="button"] {
    width: auto; float: none
}

.gd_1{ width: 6.78%} 
.gd_2{ width: 15.11%}
.gd_3{ width: 23.44%}
.gd_4{ width: 31.77%}
.gd_5{ width: 40.1%}
.gd_6{ width: 48.43%}
.gd_7{ width: 56.76%}
.gd_8{ width: 65.09%}
.gd_9{ width: 73.42%}
.gd_10{width: 81.75%}
.gd_11{width: 90.08%}
.gd_12, .container { width: 96% } 

.gd_lg_static{ width: 890px }
.gd_md_static{ width: 719px }
.gd_sm_static{ width: 500px }

@media (max-width: 930px) { .gd_lg_static  { width: 100%; float: left; clear: both } }
@media (max-width: 759px) { .gd_md_static  { width: 100%; float: left; clear: both } }
@media (max-width: 540px) { .gd_sm_static  { width: 100%; float: left; clear: both } }

.container .gd_12{
    width: 100%;
    margin-left: 0; 
    margin-bottom: 0.775%
}  

.row .gd_12{
    width: 98.45%;
    margin-left: 1.55%;
    margin-bottom: 0 
}

.container { margin-left: 2%; margin-right: 2% }
.container:before, .container:after { display: table; content: ""}
.container:after {clear: both}

img, object, embed, video, iframe, iframe[style] {
    max-width: 100%; height: auto
}


.radiohd{
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    float: left;
    margin-bottom: 30px

}

.radio_element{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}


.aspect_ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 51%
}

.aspect_ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0
}

.scale_none{ max-width: none !important }


.tx_prm , .lk_prm {color: #607D8B}
.tx_scn , .lk_scn {color: #FF5252}
.tx_lgh , .lk_lgh {color: #f6f6f6}
.tx_stn , .lk_stn {color: #ccc}

.tx_hv_prm:hover, .lk_prm:hover{ color: #40535b}
.tx_hv_scn:hover, .lk_scn:hover{ color:#c00}
.tx_hv_lgh:hover, .lk_lgh:hover{ color: #d6d6d6}
.tx_hv_stn:hover, .lk_stn:hover{ color: #000}

.lk_hv_prm:hover { color: #607D8B !important}
.lk_hv_scn:hover { color: #FF5252 !important}
.lk_hv_lgh:hover { color: #f6f6f6 !important}
.lk_hv_stn:hover { color: #ccc    !important}

.lk_prm.lt_y a, .lk_prm.lt_x a { color: #607D88 }
.lk_scn.lt_y a, .lk_scn.lt_x a { color: #FF5252 }
.lk_stn.lt_y a, .lk_stn.lt_x a { color: #ccc }
.lk_lgh.lt_y a, .lk_lgh.lt_x a { color: #f6f6f6 }

.lt_y.lt_mt_1 li { padding-top: 10px }
.lt_y.lt_mb_1 li { padding-bottom: 10px }

.lt_y.lt_pt_1 li { margin-top: 10px }
.lt_y.lt_pb_1 li { margin-bottom: 10px }



.lk_prm.lt_y a:hover,
.lk_prm.lt_x a:hover,
.lk_hv_prm.lt_y a:hover,
.lk_hv_prm.lt_x a:hover { color: #40535b }

.lk_scn.lt_y a:hover,
.lk_scn.lt_x a:hover,
.lk_hv_scn.lt_y a:hover,
.lk_hv_scn.lt_x a:hover { color: #c00 }

.lk_lgh.lt_y a:hover,
.lk_lgh.lt_x a:hover,
.lk_hv_lgh.lt_y a:hover,
.lk_hv_lgh.lt_x a:hover { color: #d6d6d6 }

.lk_stn.lt_y a:hover,
.lk_stn.lt_x a:hover,
.lk_hv_stn.lt_y a:hover,
.lk_hv_stn.lt_x a:hover { color: #000 }



@media only screen and (max-width: 890px) 
{
    .gd_lg_block, .gd_md_show{ display: block }
    .gd_lg_none,  .gd_md_hide{ display: none}

    .row_fluid { 
        width: 100%; float: left; margin-left: 0; margin-bottom: 0 
    }


    .gd_lg_3   { width: 23.44% }
    .gd_lg_4   { width: 31.77% }
    .gd_lg_6   { width: 48.45% }
    .gd_lg_8   { width: 65.09% }
    .gd_lg_12  { width: 100%; float: left; clear: both }
    .row_fluid .gd_lg_12  { width: 98.45%; float: left; clear: both }

    .mm_1_lg{ margin: 1.55%  !important}
    .mt_1_lg{ margin-top: 1.55%; !important}
    .ml_1_lg{ margin-left: 1.55% !important }
    .mb_1_lg{ margin-bottom: 1.55% !important}
    .mr_1_lg{ margin-right: 1.55% !important }
    .mx_1_lg{ margin-left: 1.55% !important; margin-right: 1.55%  !important}
    .my_1_lg{ margin-top: 1.55% !important; margin-bottom: 1.55%  !important}

    .pp_1_lg{ padding: 1.55%  !important}
    .pt_1_lg{ padding-top: 1.55% !important}
    .pl_1_lg{ padding-left: 1.55%;  !important}
    .pb_1_lg{ padding-bottom: 1.55% !important}
    .pr_1_lg{ padding-right: 1.55%  !important}
    .px_1_lg{ padding-left: 1.55% !important; padding-right: 1.55%  !important}
    .py_1_lg{ padding-top: 1.55% !important; padding-bottom: 1.55%  !important}

    .pp_0_lg{ margin: 0  !important}
    .pt_0_lg{ margin-top: 0  !important}
    .pl_0_lg{ margin-left: 0  !important} 
    .pb_0_lg{ margin-bottom: 0  !important}
    .pr_0_lg{ margin-right: 0  !important}
    .px_0_lg{ margin-left: 0 !important; margin-right: 0  !important}
    .py_0_lg{ margin-top: 0 !important; margin-bottom: 0  !important}

    .mm_0_lg{ margin: 0  !important}
    .mt_0_lg{ margin-top: 0; !important}
    .ml_0_lg{ margin-left: 0 !important }
    .mb_0_lg{ margin-bottom: 0 !important}
    .mr_0_lg{ margin-right: 0 !important }
    .mx_0_lg{ margin-left: 0 !important; margin-right: 0  !important}
    .my_0_lg{ margin-top: 0 !important; margin-bottom: 0  !important}

    .tx_c_lg{text-align: center !important}
    .tx_l_lg{text-align: left !important}
    .tx_r_lg{text-align: right !important}
    .tx_j_lg{text-align: justify !important}

    .tx_lc_lg{text-transform: lowercase !important}
    .tx_uc_lg{text-transform: uppercase !important}
    .tx_cp_lg{text-transform: capitalize !important}
    .tx_tr_no{text-transition: none}

    .tx_mr_lg{font-size: 0.625em }
    .tx_sm_lg{font-size: 0.75em }
    .tx_md_lg{font-size: 1em}
    .tx_lg_lg{ font-size: 1.25em}
    .tx_xlg_lg{font-size: 2.25em}

    .tx_b_lg{ font-weight: bold}
    .tx_i_lg{font-style: italic}
    .tx_b_no_lg{ font-weight: normal}
    .tx_i_no_lg{font-style: normal}
    .tx_u_lg{text-decoration: underline}
    .tx_d_no_lg{text-decoration: none}
    .tx_o_lg{text-decoration: overline}

    .tx_prm_lg, .lk_prm_lg{ color: #607D8B}
    .tx_scn_lg, .lk_scn_lg{color:#FF5252}
    .tx_lgh_lg, .lk_lgh_lg{color: #f6f6f6}
    .tx_stn_lg, .lk_stn_lg{color: #ccc}

    .tx_hv_prm_lg:hover, .lk_prm_lg:hover{ color: #607D8B}
    .tx_hv_scn_lg:hover, .lk_scn_lg:hover{color:#c00}
    .tx_hv_lgh_lg:hover, .lk_lgh_lg:hover{color: #d6d6d6}
    .tx_hv_stn_lg:hover, .lk_stn_lg:hover{color: #000} 

}


@media only screen and (max-width: 719px) 
{
    .gd_md_block, .gd_md_show{ display: block }
    .gd_md_none,  .gd_md_hide{ display: none}

    .gd_md_3   { width: 23.44% }
    .gd_md_4   { width: 31.77% }
    .gd_md_6   { width: 48.45% }
    .gd_md_8   { width: 65.09% }
    .gd_md_12  { width: 100%; float: left; clear: both }
    .row_fluid .gd_md_12  { width: 98.45%; float: left; clear: both }

    .mm_1_md{ margin: 1.55%  !important}
    .mt_1_md{ margin-top: 1.55%; !important}
    .ml_1_md{ margin-left: 1.55% !important }
    .mb_1_md{ margin-bottom: 1.55% !important}
    .mr_1_md{ margin-right: 1.55% !important }
    .mx_1_md{ margin-left: 1.55% !important; margin-right: 1.55%  !important}
    .my_1_md{ margin-top: 1.55% !important; margin-bottom: 1.55%  !important}

    .pp_1_md{ padding: 1.55%  !important}
    .pt_1_md{ padding-top: 1.55% !important}
    .pl_1_md{ padding-left: 1.55%;  !important}
    .pb_1_md{ padding-bottom: 1.55% !important}
    .pr_1_md{ padding-right: 1.55%  !important}
    .px_1_md{ padding-left: 1.55% !important; padding-right: 1.55%  !important}
    .py_1_md{ padding-top: 1.55% !important; padding-bottom: 1.55%  !important}

    .pp_0_md{ margin: 0  !important}
    .pt_0_md{ margin-top: 0  !important}
    .pl_0_md{ margin-left: 0  !important} 
    .pb_0_md{ margin-bottom: 0  !important}
    .pr_0_md{ margin-right: 0  !important}
    .px_0_md{ margin-left: 0 !important; margin-right: 0  !important}
    .py_0_md{ margin-top: 0 !important; margin-bottom: 0  !important}

    .mm_0_md{ margin: 0  !important}
    .mt_0_md{ margin-top: 0; !important}
    .ml_0_md{ margin-left: 0 !important }
    .mb_0_md{ margin-bottom: 0 !important}
    .mr_0_md{ margin-right: 0 !important }
    .mx_0_md{ margin-left: 0 !important; margin-right: 0  !important}
    .my_0_md{ margin-top: 0 !important; margin-bottom: 0  !important}

    .tx_c_md{text-align: center !important}
    .tx_l_md{text-align: left !important}
    .tx_r_md{text-align: right !important}
    .tx_j_md{text-align: justify !important}

    .tx_lc_md{text-transform: lowercase !important}
    .tx_uc_md{text-transform: uppercase !important}
    .tx_cp_md{text-transform: capitalize !important}
    .tx_tr_no{text-transition: none}

    .tx_mr_md{font-size: 0.625em }
    .tx_sm_md{font-size: 0.75em }
    .tx_md_md{font-size: 1em}
    .tx_lg_md{ font-size: 1.25em}
    .tx_xlg_md{font-size: 2.25em}

    .bold_md{ font-weight: bold}
    .italic_md{font-style: italic}
    .bold_none_md{ font-weight: normal}
    .italic_none_md{font-style: normal}
    .underline_md{text-decoration: underline}
    .decoration_none_md{text-decoration: none}
    .overline_md{text-decoration: overline}

    .tx_prm_md, .lk_prm_md{ color: #607D8B}
    .tx_scn_md, .lk_scn_md{color:#FF5252}
    .tx_lgh_md, .lk_lgh_md{color: #f6f6f6}
    .tx_stn_md, .lk_stn_md{color: #ccc}

    .tx_hv_prm_md:hover, .lk_prm_md:hover{ color: #607D8B}
    .tx_hv_scn_md:hover, .lk_scn_md:hover{color:#c00}
    .tx_hv_lgh_md:hover, .lk_lgh_md:hover{color: #d6d6d6}
    .tx_hv_stn_md:hover, .lk_stn_md:hover{color: #000} 
}

@media only screen and (max-width: 500px)
{
    .gd_sm_block, .gd_sm_show{ display: block }
    .gd_sm_none,  .gd_sm_hide{ display: none}

    .gd_sm_3   { width: 23.44% }
    .gd_sm_4   { width: 31.77% }
    .gd_sm_6   { width: 48.45% }
    .gd_sm_8   { width: 65.09% }
    .gd_sm_12  { width: 100%; float: left; clear: both }
    .row_fluid .gd_sm_12  { width: 98.45%; float: left; clear: both }

    .fill_sm_inside{ padding: 1.55%  !important}
    .fill_sm_inside_t{ padding-top: 1.55%; !important}
    .fill_sm_inside_r{ padding-right: 1.55% !important }
    .fill_sm_inside_b{ padding-bottom: 1.55% !important }
    .fill_sm_inside_l{ padding-left: 1.55% !important }
    .fill_sm_inside_t_b{ padding-top: 1.55% !important; padding-bottom: 1.55%  !important}
    .fill_sm_inside_l_r{ padding-left: 1.55% !important; padding-right: 1.55%  !important}

    .mm_1_sm{ margin: 1.55%  !important}
    .mt_1_sm{ margin-top: 1.55%; !important}
    .ml_1_sm{ margin-left: 1.55% !important }
    .mb_1_sm{ margin-bottom: 1.55% !important}
    .mr_1_sm{ margin-right: 1.55% !important }
    .mx_1_sm{ margin-left: 1.55% !important; margin-right: 1.55%  !important}
    .my_1_sm{ margin-top: 1.55% !important; margin-bottom: 1.55%  !important}

    .pp_1_sm{ padding: 1.55%  !important}
    .pt_1_sm{ padding-top: 1.55% !important}
    .pl_1_sm{ padding-left: 1.55%;  !important}
    .pb_1_sm{ padding-bottom: 1.55% !important}
    .pr_1_sm{ padding-right: 1.55%  !important}
    .px_1_sm{ padding-left: 1.55% !important; padding-right: 1.55%  !important}
    .py_1_sm{ padding-top: 1.55% !important; padding-bottom: 1.55%  !important}

    .pp_0_sm{ margin: 0  !important}
    .pt_0_sm{ margin-top: 0  !important}
    .pl_0_sm{ margin-left: 0  !important} 
    .pb_0_sm{ margin-bottom: 0  !important}
    .pr_0_sm{ margin-right: 0  !important}
    .px_0_sm{ margin-left: 0 !important; margin-right: 0  !important}
    .py_0_sm{ margin-top: 0 !important; margin-bottom: 0  !important}

    .mm_0_sm{ margin: 0  !important}
    .mt_0_sm{ margin-top: 0; !important}
    .ml_0_sm{ margin-left: 0 !important }
    .mb_0_sm{ margin-bottom: 0 !important}
    .mr_0_sm{ margin-right: 0 !important }
    .mx_0_sm{ margin-left: 0 !important; margin-right: 0  !important}
    .my_0_sm{ margin-top: 0 !important; margin-bottom: 0  !important}

    .tx_c_sm{text-align: center !important}
    .tx_l_sm{text-align: left !important}
    .tx_r_sm{text-align: right !important}
    .tx_j_sm{text-align: justify !important}

    .tx_lowercase_sm{text-transform: lowercase !important}
    .tx_uppercase_sm{text-transform: uppercase !important}
    .tx_capitalize_sm{text-transform: capitalize !important}
    .tx_transform_none{text-transition: none}

    .tx_mr_sm{font-size: 0.625em }
    .tx_sma_sm{font-size: 0.75em }
    .tx_md_sm{font-size: 1em}
    .tx_lg_sm{ font-size: 1.25em}
    .tx_xlg_sm{font-size: 2.25em}

    .tx_b_sm{ font-weight: bold}
    .tx_i_sm{font-style: italic}
    .tx_b_no_sm{ font-weight: normal}
    .tx_i_no_sm{font-style: normal}
    .tx_u_sm{text-decoration: underline}
    .tx_d_no_sm{text-decoration: none}
    .tx_o_sm{text-decoration: overline}

    .tx_prm_sm,  .lk_prm_sm{ color: #607D8B}
    .tx_scn_sm,.lk_scn_sm{color:#FF5252}
    .tx_lgh_sm,    .lk_lgh_sm{color: #f6f6f6}
    .tx_stn_sm, .lk_stn_sm{color: #ccc}

    .tx_hv_prm_sm:hover,   .lk_prm_sm:hover{ color: #607D8B}
    .tx_hv_scn_sm:hover, .lk_scn_sm:hover{color:#c00}
    .tx_hv_lgh_sm:hover,     .lk_lgh_sm:hover{color: #d6d6d6}
    .tx_hv_stn_sm:hover,  .lk_stn_sm:hover{color: #000} 
}


@media (min-width: 1221px) 
{
    .container, .gd_12{ width: 1196px}
    .container {
        margin-left: auto; margin-right: auto
    }
}


.tx_c { text-align: center}
.tx_l { text-align: left}
.tx_r { text-align: right }
.tx_j { text-align: justify}

.tx_lc{text-transform: lowercase}
.tx_uc{text-transform: uppercase}
.tx_cp{text-transform: capitalize}

.tx_mr{font-size: 0.625em }
.tx_sm{font-size: 0.75em }
.tx_md{font-size: 1em}
.tx_lg{ font-size: 1.25em}
.tx_xlg{font-size: 2.25em}

.tx_b{ font-weight: bold}
.tx_i{font-style: italic}
.tx_u{text-decoration: underline}
.tx_d_no{text-decoration: none}
.tx_o{text-decoration: overline}


.fl_c{
    float: none !important; 
    margin-left: auto !important; 
    margin-right: auto !important;
    clear: both !important
}

.fl_l{ float: left !important}
.fl_r{ float: right !important}
.fl_n{ float: none !important}

.mm_1{ margin: 1.55%  !important}
.mt_1{ margin-top: 1.55%; !important}
.ml_1{ margin-left: 1.55% !important }
.mb_1{ margin-bottom: 1.55% !important}
.mr_1{ margin-right: 1.55% !important }
.mx_1{ margin-left: 1.55% !important; margin-right: 1.55%  !important}
.my_1{ margin-top: 1.55% !important; margin-bottom: 1.55%  !important}

.pp_1{ padding: 1.55%  !important}
.pt_1{ padding-top: 1.55% !important}
.pl_1{ padding-left: 1.55%;  !important}
.pb_1{ padding-bottom: 1.55% !important}
.pr_1{ padding-right: 1.55%  !important}
.px_1{ padding-left: 1.55% !important; padding-right: 1.55%  !important}
.py_1{ padding-top: 1.55% !important; padding-bottom: 1.55%  !important}

.pp_0{ margin: 0  !important}
.pt_0{ margin-top: 0  !important}
.pl_0{ margin-left: 0  !important} 
.pb_0{ margin-bottom: 0  !important}
.pr_0{ margin-right: 0  !important}
.px_0{ margin-left: 0 !important; margin-right: 0  !important}
.py_0{ margin-top: 0 !important; margin-bottom: 0  !important}

.mm_0{ margin: 0  !important}
.mt_0{ margin-top: 0; !important}
.ml_0{ margin-left: 0 !important }
.mb_0{ margin-bottom: 0 !important}
.mr_0{ margin-right: 0 !important }
.mx_0{ margin-left: 0 !important; margin-right: 0  !important}
.my_0{ margin-top: 0 !important; margin-bottom: 0  !important}

.expand{
    width: 100% !important;
    margin-left: 0; margin-right: 0; 
    padding: 0;
    float: left; clear: both;
}

.expand_auto{ width: auto !important }

.tb, .tb_hv,.tb_border,
.tb_striped{margin:2px; border-collapse:collapse}
.tb th,.tb_hv th,
.tb_border th,
.tb_striped th{
    color:#444;
    background:#fff;
    text-align:left;
    font-weight:bold;
    padding:10px 5px
}

.tb td,
.tb_hv td,
.tb_border td, .tb_striped td{
    color:#444;
    background:#fff;
    padding:10px 5px;
    border-bottom:1px solid #444
}

.tb_tr_hv td{background:#edeaea}
.tb_tr_off td{background:#fff}
.tb_tr_on td{background:#e5e5e5}
.tb_hv tr:hover td{background:#e5e5e5}

.tb_border th{
    color: #444;
    background: #fff;
    text-align: left;
    font-weight: bold;
    padding: 10px 5px;
    border: 1px solid #444;
}

.tb_border td{
    color: #444;
    background: #fff;
    padding: 10px 5px;
    border: 1px solid #444
}

.tb_striped tbody >tr:nth-child(2n+1) >td,
.tb_striped tbody >tr:nth-child(2n+1) >th{ background-color:#e5e5e5}


.tb_fill{margin:2px; border-collapse:collapse}
.tb_fill th{
    color: #444;
    background: #fff;
    font-weight: bold;
    text-align: left;
    padding: 10px 5px
}

.tb_fill td{
    color: #444;
    background: #fff;
    padding: 10px 5px;
    border-bottom: 10px solid #fff 
    }
.tb_fill tr{margin-bottom: 10px}
.tb_fill tr td{background: #e5e5e5}

.tb_prm tr td, .tb_hv_prm tr:hover td{ background: #607D8B } 
.tb_scn tr td, .tb_hv_scn tr:hover td{ background: #FF5252 }
.tb_lgh tr td, .tb_hv_lgh tr:hover td{ background: #f6f6f6 }
.tb_stn tr td, .tb_hv_stn tr:hover td{ background: #ccc }

.tb_prm tr td, .tb_hv_prm tr:hover td,
.tb_scn tr td, .tb_hv_scn tr:hover td{ color: #ccc }


.lt_x li, .lt_x dd{
    float: left;
    display: inline;
    padding: 0 5px 0 0
}

.lt_y li, .lt_y dd{padding:0 0 5px 0}


.lt_y.lt_y_dropdown li ul{
    display: none;
    position: absolute;
    z-index: 500

}

.lt_y.lt_y_dropdown ul li{
    width: 100%;
    top: auto;
    left: 0;
    right: auto;
    text-align: left;
    opacity: 1;
    padding: 0;
    position: relative

}


.lt_y.lt_y_dropdown li:hover ul{
    display: block
}

.lt_y.lt_y_dropdown ul a{
    display: block;
    padding: 5px 10px;
    background: #f8f8f8;
}


.lt_y.lt_y_dropdown ul a:hover{
    background: #d8d8d8
}

input[id="nv_bar_bt"]{
    display: none
}

label[for="nv_bar_bt"]{
    width: 60px;
    text-align: center;
    display: none;
    padding: 5px 15px;
    font-size: 30px;
    cursor: pointer
}


label[for="nv_bar_bt"]:hover{
    background: rgba(50, 50, 50, 0.12);
}

.nv_bar,
.nv_bar ul,
.nv_bar ul li,
.nv_bar ul li a,
.nv_bar .nv_bt {
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0 none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.nv_bar:after,
.nv_bar > ul:after {
    height: 0;
    line-height: 0;
    content: ".";
    clear: both;
    visibility: hidden;
    display: block
}

.nv_bar .nv_bt { display: none }

.nv_bar { width: auto; background: #fff }

.nv_bar.fl_r > ul > li { float: right }

.nv_bar > ul > li { float: left; display: inline-block }

.nv_bar.fl_c > ul      { float: none; text-align: center }
.nv_bar.fl_c > ul > li { float: none } 
.nv_bar.fl_c ul ul     { text-align: left }

.nv_bar > ul > li.text, .nv_bar > ul > li > a {
    padding: 18px 25px 21px 25px;
    border-right: 1px solid rgba(80, 80, 80, 0.12);
    text-decoration: none;
    font-size: 14px;
    color: #444;
    letter-spacing: 1px
}

.nv_bar > ul > li:hover > a, 
.nv_bar > ul > li > a:hover, 
.nv_bar > ul > li.current > a {
    color: #000;
    background: #d8d8d8
}

.nv_bar > ul > li.has_sub > a {
    padding-right: 45px
}

.nv_bar > ul > li.has_sub > a::after {
    width: 0;
    height: 0;
    top: 22px;
    right: 17px;
    content: "";
    border: 6px solid transparent;
    border-top-color: #ccc;
    position: absolute
}

.nv_bar > ul > li.has_sub.current > a::after,
.nv_bar > ul > li.has_sub:hover > a {
    border-top-color: #000
}

.nv_bar ul ul {
    position: absolute;
    z-index: 1000;
    left: -9999px;
    top: 60px;
    padding-top: 6px;
    font-size: 14px;
    opacity: 0;

    -webkit-transition: top 0.4s ease, opacity 0.4s ease-in;
    -moz-transition: top 0.4s ease, opacity 0.4s ease-in;
    -ms-transition: top 0.4s ease, opacity 0.4s ease-in;
    -o-transition: top 0.4s ease, opacity 0.4s ease-in;
    transition: top 0.4s ease, opacity 0.4s ease-in
}

.nv_bar.fl_r ul ul { text-align: right }
.nv_bar > ul > li > ul::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #ffffff;
    top: -4px;
    left: 20px
}

.nv_bar.fl_r > ul > li > ul::after {
    left: auto; right: 20px
}

.nv_bar ul ul ul::after {
    top: 11px;
    left: -4px;
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #ffffff;
    position: absolute;
}

.nv_bar.fl_r ul ul ul::after {
    left: auto;
    right: -4px;
    border-right-color: transparent;
    border-left-color: #ffffff;
}
.nv_bar > ul > li > ul {
    top: 120px
}

.nv_bar > ul > li:hover > ul { top: 52px; left: 0; opacity: 1 }
.nv_bar.fl_r > ul > li:hover > ul { left: auto; right: 0 }
.nv_bar ul ul ul { padding-top: 0; padding-left: 6px }

.nv_bar.fl_r ul ul ul { padding-right: 6px }
.nv_bar ul ul > li:hover > ul {
    left: 280px;
    top: 0;
    opacity: 1
}

.nv_bar.fl_r ul ul > li:hover > ul {
    left: auto;
    right: 100%;
    opacity: 1
}

.nv_bar ul ul li a {
    width: 280px;
    color: #777;
    background: #f8f8f8;
    text-decoration: none;
    padding: 11px 25px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 
    1px 1px 1px rgba(0, 0, 0, 0.1),
    -1px 1px 1px rgba(0, 0, 0, 0.1)
}

.nv_bar ul ul li:hover > a,
.nv_bar ul ul li.current > a {
    color: #2C3E50
}

.nv_bar ul ul li:first_child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.nv_bar ul ul li:last_child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}

.nv_bar > ul > li > ul::after {
    position: absolute;
    display: block
}

.nv_bar ul ul li.has_sub > a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left-color: #777777;
    right: 17px;
    top: 14px
}

.nv_bar.fl_r ul ul li.has_sub > a::after {
    border-left-color: transparent;
    border-right-color: #777;
    right: auto;
    left: 17px
}

.nv_bar ul ul li.has_sub.current > a::after,
.nv_bar ul ul li.has_sub:hover > a::after {
    border-left-color: #2C3E50
}

.nv_bar.fl_r ul ul li.has_sub.current > a::after,
.nv_bar.fl_r ul ul li.has_sub:hover > a::after {
    border-right-color: #2C3E50;
    border-left-color: transparent
}



.nv_bar.nv_prm { background: #607D8B }

.nv_bar.nv_prm > ul > li.text,
.nv_bar.nv_prm > ul > li > a {
    color: #ccc
}

.nv_bar.nv_prm > ul > li:hover > a,
.nv_bar.nv_prm > ul > li.current > a {
    color: #fff; background: #40535b
}

.nv_bar.nv_prm > ul > li.has_sub > a::after,
.nv_bar.nv_prm > ul > li.has_sub > a {
    border-top-color: #666
}

.nv_bar.nv_prm > ul > li.has_sub.current > a::after,
.nv_bar.nv_prm > ul > li.has_sub:hover > a {
    border-top-color: #fff
}

.nv_bar.nv_scn { background: #FF5252 }

.nv_bar.nv_scn > ul > li.text,
.nv_bar.nv_scn > ul > li > a {
    color: #ccc
}

.nv_bar.nv_scn > ul > li:hover > a,
.nv_bar.nv_scn > ul > li.current > a {
    color: #fff; background: #c00
}

.nv_bar.nv_scn > ul > li.has_sub > a::after,
.nv_bar.nv_scn > ul > li.has_sub > a {
    border-top-color: #666
}

.nv_bar.nv_scn > ul > li.has_sub.current > a::after,
.nv_bar.nv_scn > ul > li.has_sub:hover > a {
    border-top-color: #fff
}

.nv_bar.nv_stn { background: #d8d8d8 }

.nv_bar.nv_stn > ul > li.text,
.nv_bar.nv_stn > ul > li > a {
    color: #444
}

.nv_bar.nv_stn > ul > li:hover > a,
.nv_bar.nv_stn > ul > li.current > a {
    color: #000; background: #afafaf
}

.nv_bar.nv_stn > ul > li.has_sub > a::after,
.nv_bar.nv_stn > ul > li.has_sub > a {
    border-top-color: #666
}

.nv_bar.nv_stn > ul > li.has_sub.current > a::after,
.nv_bar.nv_stn > ul > li.has_sub:hover > a {
    border-top-color: #fff
}


.nv_bar.nv_lgh { background: #f6f6f6 }

.nv_bar.nv_lgh > ul > li.text,
.nv_bar.nv_lgh > ul > li > a {
    color: #444
}

.nv_bar.nv_lgh > ul > li:hover > a,
.nv_bar.nv_lgh > ul > li.current > a {
    color: #000; background: #d6d6d6
}

.nv_bar.nv_lgh > ul > li.has_sub > a::after,
.nv_bar.nv_lgh > ul > li.has_sub > a {
    border-top-color: #666
}

.nv_bar.nv_lgh > ul > li.has_sub.current > a::after,
.nv_bar.nv_lgh > ul > li.has_sub:hover > a {
    border-top-color: #fff
}

.nv_bar.nv_hv_prm > ul > li:hover > a,
.nv_bar.nv_hv_prm > ul > li.current > a ,

.nv_bar.nv_scn.nv_hv_prm > ul > li:hover > a,
.nv_bar.nv_scn.nv_hv_prm > ul > li.current > a ,

.nv_bar.nv_stn.nv_hv_prm > ul > li:hover > a,
.nv_bar.nv_stn.nv_hv_prm > ul > li.current > a ,

.nv_bar.nv_lgh.nv_hv_prm > ul > li:hover > a,
.nv_bar.nv_lgh.nv_hv_prm > ul > li.current > a 
{ color: #fff; background: #607D8B }



.nv_bar.nv_hv_scn > ul > li:hover > a,
.nv_bar.nv_hv_scn > ul > li.current > a ,

.nv_bar.nv_prm.nv_hv_scn > ul > li:hover > a,
.nv_bar.nv_prm.nv_hv_scn > ul > li.current > a ,

.nv_bar.nv_stn.nv_hv_scn > ul > li:hover > a,
.nv_bar.nv_stn.nv_hv_scn > ul > li.current > a ,

.nv_bar.nv_lgh.nv_hv_scn > ul > li:hover > a,
.nv_bar.nv_lgh.nv_hv_scn > ul > li.current > a 
{ color: #fff; background: #FF5252 }


.nv_bar.nv_hv_lgh > ul > li:hover > a,
.nv_bar.nv_hv_lgh > ul > li.current > a ,

.nv_bar.nv_prm.nv_hv_lgh > ul > li:hover > a,
.nv_bar.nv_prm.nv_hv_lgh > ul > li.current > a ,

.nv_bar.nv_stn.nv_hv_lgh > ul > li:hover > a,
.nv_bar.nv_stn.nv_hv_lgh > ul > li.current > a ,

.nv_bar.nv_scn.nv_hv_lgh > ul > li:hover > a,
.nv_bar.nv_scn.nv_hv_lgh > ul > li.current > a 
{ color: #000; background: #f6f6f6 }


.nv_bar.nv_hv_stn > ul > li:hover > a,
.nv_bar.nv_hv_stn > ul > li.current > a ,

.nv_bar.nv_prm.nv_hv_stn > ul > li:hover > a,
.nv_bar.nv_prm.nv_hv_stn > ul > li.current > a ,

.nv_bar.nv_scn.nv_hv_stn > ul > li:hover > a,
.nv_bar.nv_scn.nv_hv_stn > ul > li.current > a ,

.nv_bar.nv_lgh.nv_hv_stn > ul > li:hover > a,
.nv_bar.nv_lgh.nv_hv_stn > ul > li.current > a 
{ color: #000; background: #ccc }


.nv_sidebar{ width: 100% }

.nv_sidebar ul li a:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0
}

.nv_sidebar ul li.active > a:before,
.nv_sidebar ul li:hover a:before{
    opacity: 1
}


.nv_sidebar ul {
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0
}

.nv_sidebar,
.nv_sidebar li,
.nv_sidebar li a {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.nv_sidebar > li.text,
.nv_sidebar > li > a {
    color: #888;
    background: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 20px;
    cursor: pointer;
    z-index: 2
}

.nv_sidebar > li.text {
    font-weight: normal; cursor: default
}


.nv_sidebar li > a:hover,
.nv_sidebar li.active > a{
    background: #EAE5E5
}


.nv_sidebar ul li:hover > a,
.nv_sidebar ul li.active > a {
    background: #999
}

.nv_sidebar ul ul li a { padding-left: 30px }


.nv_sidebar li.arrow > a::after,
.nv_sidebar ul li.arrow > a::after {
    display: block;
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    right: 20px;
    z-index: 10;
    top: 11.5px;
    border-top: 2px solid #eeeeee;
    border-left: 2px solid #eeeeee;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg)
}




.nv_sidebar ul li.active > a::after,
.nv_sidebar ul li > a:hover::after {
    border-color: #fff
}

.nv_sidebar ul{
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    -ms-transition: max-height 0.3s;
    -o-transition: max-height 0.3s;
    transition: max-height 0.3s
}

.nv_sidebar li:target ul{ max-height: 100em }

.nv_sidebar.nv_prm > li.text,
.nv_sidebar.nv_prm > li > a {
    color: #fff;
    background: #607D8B
}

.nv_sidebar.nv_prm li > a:hover,
.nv_sidebar.nv_prm li.active > a{
    background: #40535b
}

.nv_sidebar.nv_scn > li.text,
.nv_sidebar.nv_scn > li > a {
    color: #fff;
    background: #FF5252
}

.nv_sidebar.nv_scn li > a:hover,
.nv_sidebar.nv_scn li.active > a{
    background: #c00
}

.nv_sidebar.nv_lgh > li.text,
.nv_sidebar.nv_lgh > li > a {
    color: #666;
    background: #f6f6f6
}

.nv_sidebar.nv_lgh li > a:hover,
.nv_sidebar.nv_lgh li.active > a{
    background: #d6d6d6
}

.nv_sidebar.nv_stn > li.text,
.nv_sidebar.nv_stn > li > a {
    color: #666;
    background: #d8d8d8
}

.nv_sidebar.nv_stn li > a:hover,
.nv_sidebar.nv_stn li.active > a{
    background: #b2b2b2
}

.nv_sidebar ul li a {
    cursor: pointer;
    padding: 10px 20px;
    z-index: 1;
    text-decoration: none;
    color: #000;
    background: #c00
}

.nv_sidebar ul li a:before { background: #ccc }
.nv_sidebar.nv_prm ul li a:before { background: #607D8B }
.nv_sidebar.nv_scn ul li a:before { background: #FF5252 }
.nv_sidebar.nv_lgh ul li a:before { background: #f6f6f6 }
.nv_sidebar.nv_lgh ul li a:before { background: #d8d8d8 }

.nv_sidebar ul li a ,
.nv_sidebar ul li:hover a,
.nv_sidebar.nv_prm ul li:hover > a,
.nv_sidebar.nv_prm ul li.active > a ,
.nv_sidebar.nv_scn ul li:hover > a,
.nv_sidebar.nv_scn ul li.active > a,
.nv_sidebar.nv_lgh ul li:hover > a,
.nv_sidebar.nv_lgh ul li.active > a,
.nv_sidebar.nv_stn ul li:hover > a,
.nv_sidebar.nv_stn ul li.active > a 
{
    color: #fff;
    background: #2d3a3f
}

.nv_sidebar > li,
.nv_sidebar li > ul > li:last-child > a,
.nv_sidebar li > ul > li > a {

    border-bottom: 1px solid #444
}

.nv_sidebar li.arrow > a::after,
.nv_sidebar.nv_prm li.arrow > a::after{
    border-color: #666
}


.nv_sidebar.nv_scn li.arrow > a::after{
    border-color: #aa3636
}

.nv_sidebar.nv_prm li.arrow > a::after,
.nv_sidebar.nv_prm ul li.arrow > a::after {
    border-top: 2px solid  #ccc; 
    border-left: 2px solid #ccc
}







@media all and (max-width: 890px)
{ 

    label[for="nv_bar_bt"]{
        display: block
    }

    #nv_bar_bt:checked ~ .nv_bar > ul {
        display: block
    }

    .nv_bar > ul {
        display: none;
        border-top: 1px solid rgba(0, 0, 0, 0.1)
    }


.nv_sidebar li > ul > li:last-child > ul > li:last-child > a {
    border-bottom: 0
}

    .nv_bar.fl_r > ul { float: none }
    .nv_bar.fl_c > ul { text-align: left }
    .nv_bar > ul > li, .nv_bar.fl_r > ul > li {
        float: none; display: block
    }
    .nv_bar > ul > li > a {
        padding: 18px 25px 18px 25px; border-right: 0
    }
    .nv_bar > ul > li:hover > a,
    .nv_bar > ul > li.current > a {
        color: #fff; background: #C1BFBF
    }

    .nv_bar .nv_bt {
        display: block;
        text-decoration: none;
        font-size: 14px;
        color: #444;
        padding: 18px 25px 18px 25px;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer
    }

    .nv_bar ul ul,
    .nv_bar ul li:hover > ul,
    .nv_bar > ul > li > ul,
    .nv_bar ul ul ul,
    .nv_bar ul ul li:hover > ul,
    .nv_bar.fl_r ul ul,
    .nv_bar.fl_r ul li:hover > ul,
    .nv_bar.fl_r > ul > li > ul,
    .nv_bar.fl_r ul ul ul,
    .nv_bar.fl_r ul ul li:hover > ul {
        width: 100%;
        top: auto;
        left: 0;
        right: auto;
        opacity: 1;
        text-align: left;
        padding: 0;
        position: relative;
    }

    .nv_bar ul ul li { width: 100% }

    .nv_bar ul ul li a {
        width: 100%;
        box-shadow: none;
        padding-left: 35px
    }

    .nv_bar ul ul ul li a { padding-left: 45px }

    .nv_bar ul ul li:first_child > a,
    .nv_bar ul ul li:last_child > a {
        border-radius: 0
    }

    .nv_bar .nv_bt::after {
        width: 22px;
        height: 3px;
        top: 18px;
        right: 25px;
        content: '';
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        display: block;
        position: absolute
    }

    .nv_bar .nv_bt::before {
        width: 22px;
        height: 3px;
        top: 28px;
        right: 25px;
        display: block;
        content: '';
        position: absolute;
        border-top: 2px solid transparent
    }

    .nv_bar .nv_bt,
    .nv_bar .nv_bt::after ,
    .nv_bar .nv_bt::before {
        color: #c00; border-color: #c00
    }

    .nv_bar .nv_bt:hover{ background: #afafaf }

    .nv_bar > ul > li.has_sub > a::after,
    .nv_bar ul ul li.has_sub > a::after {
        display: none
    }

    .nv_bar.nv_prm .nv_bt,
    .nv_bar.nv_prm .nv_bt::after ,
    .nv_bar.nv_prm .nv_bt::before {
        color: #ccc; border-color: #ccc
    }

    .nv_bar.nv_prm .nv_bt:hover{ 
        color: #fff; background: #40535b 
    }

    .nv_bar.nv_scn .nv_bt,
    .nv_bar.nv_scn .nv_bt::after ,
    .nv_bar.nv_scn .nv_bt::before {
        color: #ccc; border-color: #ccc
    }

    .nv_bar.nv_scn .nv_bt:hover{ 
        color: #fff; background: #c00 
    }

    .nv_bar.nv_stn .nv_bt,
    .nv_bar.nv_stn .nv_bt::after ,
    .nv_bar.nv_stn .nv_bt::before {
        color: #444; border-color: #444 }

    .nv_bar.nv_stn .nv_bt:hover{ 
        color: #000; background: #afafaf 
    }

    .nv_bar.nv_lgh .nv_bt,
    .nv_bar.nv_lgh .nv_bt::after ,
    .nv_bar.nv_lgh .nv_bt::before {
        color: #444; border-color: #444
    }

    .nv_bar.nv_lgh .nv_bt:hover{ 
        color: #000; background: #d6d6d6 
    }


		.tb_fluid thead { display: none }

		.tb_fluid tr {
          display: block;
          margin-top: 5px;
          padding-bottom: 15px
		}

		.tb_fluid td {
          display: block;
          text-align: right;
          font-size: 13px;
          margin-bottom:3px;
          min-height: 14px
        }

		.tb_fluid td:before {
          content: attr(colname);
          float: left;
          font-weight: bold;
        }

}



.alpha_modal_dialog { padding-top: 100px }

.alpha{
    width: 100%;
    height: 100%;
    top:0; left:0;
    z-index: 500;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4);
    position: fixed;
    overflow:auto;
}

